{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <img alt="" src="{{ base_url() }}/assets/img/pages/Financial.jpg" width="100%" />
            <p>&nbsp;</p>
            <h4>Forensic</h4>
            <p>When there has been a suspected misappropriation of funds or unexplained changes in financial circumstances, stakeholders including company boards, creditors, regulators and/or shareholders need to be provided a clear, independent account of events.
            </p>
            <p>Our team of experts are often engaged to quickly mobilise and investigate the financial affairs of a business or particular transactions, often in highly sensitive and high-stakes situations. We provide a transparent summary of a situation, with the requisite detail and rigor that can be used in subsequent recovery and litigation that often follows.
            </p>
            <p>As a Court appointed liquidator in Singapore, we brought the first ever case of third-party litigation funding in an insolvency before the Singapore High Court. This role has showcased our investigatory and litigation skill sets as we pursue multiple parties through various forms of litigation. Asset tracing, retrieval and realisation go hand in hand with our strong investigatory and litigation skill set.
            </p>
            <p>&nbsp;</p>
            <div class="row" id="nav-case-study">
                {% for data in page.data %}
                    {% if data.TypeofCase == page.service %}
                        <div class="card" style="width: 25rem;margin: 12px;">
                            <div class="card-body">
                                <div class="title-case">
                                    <span style="font-size:10px;float:left;margin-top:15px;">Case Study</span>
                                    <span><img alt="" src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png" style="float: right;margin-top: 0px;" width="70px" /></span>
                                </div>
                                <h5 class="card-title" style="margin-top:80px;margin-bottom: 0px;">
                                    {{ data.header }}
                                </h5>
                                <span style="font-size: 10px;">{{ data.DateofClosing }}</span><br/><br/>
                                <p style="margin-top:20px;">
                                    <span style="margin-top: 40px;">
                                        <a href="{{ base_url() }}/EN/services/{{ page.service }}/{{ data.id }}#nav-case-study" class="btn btn-outline-light btn-sm">Read More</a>
                                    </span>
                                    <span class="sc-box-value">{{
                                data.Value
                              }}</span>
                                </p>
                                <span class="sc-box-value-saying">{{
                              data.Saying
                            }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}