{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <img src="{{ base_url() }}/assets/img/pages/services-drtm.jpg" width="100%" />
            <p>&nbsp;</p>
            <h4>Debtor</h4>
            <p>Restructurings are time critical situations each with unique challenges, complicated by the diversity of stakeholder groups, particularly in cross-border situations or those involving public companies and/or government institutions.  These situations can be further pressurized by cash constraints, working capital erosion and security restrictions.</p>
            <p>Corporations in such financial or operational distress inevitably are confronted with crisis events.  It is critical in such situations to deal with the underlying problems in an appropriate, transparent, timely and effective manner.
            </p>
            <p>We have advised companies in distress, across a range of industries, through crisis, working capital stabilization, and financial/operational restructurings.  We will lead manage the restructuring process whether it is a voluntary out of court restructuring or through a court appointed administration process such as an Indonesian PKPU, a Singaporean or Hong Kong scheme or other processes.
            </p>
            <p>Our restructuring and turnaround services include:</p>
            <ol class="roman-list">
                <li>Advising on formal and informal debt restructurings including: (i) Schemes of Arrangement; and (ii) Indonesian Suspension of Debt Payment processes (PKPU)</li>
                <li>Advising on financial crisis management and facilitating communications across all critical stakeholders</li>
                <li>Working capital stabilization and cash management</li>
                <li>Conducting operational and financial reviews and assessing sustainable debt levels and structures</li>
                <li>Managing interim situations and turnarounds (Chief Restructuring Officer or other Interim Directorships) during and post restructuring including:
                
                <ol>
                    <li>Developing and reviewing operational and structural cost reduction initiatives and implementation/execution of milestones</li>
                    <li>Evaluating and implementing revenue enhancement opportunities</li>
                    <li>Implementing restructuring schemes/plans</li>
                    <li>Divesting assets</li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <div class="row" id="nav-case-study">
            <div class="col-md-6">
                <div class="box-casestudy">
                    <p>
                        <span style="font-size:12px;margin-top: 30px;float:left;">Case Study</span>
                        <span><img alt="" src="{{base_url()}}/assets/img/logo/logo-transparent.png" style="float: right;" width="80px" /></span>
                    </p>
                    {% for rowow in page.data %}
                        {%if rowow.id == page.id %}
                            <p style="margin-top:100px;">
                                <h3 class="text-green" style="letter-spacing:2px;font-weight: bolder;">{{rowow.header}}</h3>
                                <span style="font-size: 12px;">{{rowow.DateofClosing}}</span><br/><br/>
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ base_url() }}/EN/services/{{page.service}}#nav-case-study" style="float: left" class="btn btn-outline-green">close</a>
                                    <h1 class="text-green text-right sc-detail-value" style="margin-top:0px;">{{rowow.Value}}</h1>
                                    <span class="text-green" style="font-weight:bolder: 16px;float:right;margin-top: -10px;">{{rowow.Saying}}</span>
                                </div>
                            </div>
                            <dl class="row" style="margin-top: 40px;">
                                <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Type of Case
                                    <span class="float-right">:</span>
                                </dt>
                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.service}}</dd>

                                <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Title
                                    <span class="float-right">:</span>
                                </dt>
                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.Title}}</dd>

                                <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Status
                                    <span class="float-right">:</span>
                                </dt>
                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{ rowow.DateofClosingMark}}</dd>

                                <dt class="col-sm-4 text-truncate" style="font-size: 12px;color: #06832a;">Value
                                    <span class="float-right">:</span>
                                </dt>
                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.Value}}
                                    {{rowow.Saying}}</dd>
                            </dl>
                            <p>
                                <h5 class="text-green" style="letter-spacing: 3px;margin-top:40px;font-weight: bold">PROJECT OVERVIEW</h5>
                                <ul class="list-sm">
                                    {% for key,po in rowow.ProjectOverview %}
                                        <li>
                                            {{po.1}}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <h5 class="text-green" style="letter-spacing: 3px;font-weight: bolder">PROJECT ISSUES</h5>
                                <ul class="list-sm">
                                    {% for key,ci in rowow.ProjectIssues %}
                                        <li>
                                            {{ci.2}}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <h5 class="text-green" style="letter-spacing: 3px;font-weight: bold;">WHAT WE DID</h5>
                                <ul class="list-sm">
                                    {% for key,wwd in rowow.WhatWeDid %}
                                        <li>
                                            {{wwd.3}}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <h5 class="text-green" style="letter-spacing: 3px;font-weight: bold">PROJECT OUTCOME</h5>
                                <ul class="list-sm">
                                    {% for key,pout in rowow.ProjectOutcome %}
                                        <li>
                                            {{pout.4}}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <br/>
                                <p class="text-center">
                                    <a href="{{ base_url() }}/EN/services/{{page.service}}#nav-case-study" class="btn btn-outline-green btn-sm mx-auto ">close</a>
                                </p>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    {% for data in page.data %}
                        {% if data.TypeofCase == page.service %}
                            {% if data.id != page.id %}
                                <div class="card" style="width: 25rem;margin: 12px;">
                                    <div class="card-body">
                                        <div class="title-case">
                                            <span style="font-size:10px;float:left;margin-top:15px;">Case Study</span>
                                            <span><img alt="" src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png" style="float: right;margin-top: 0px;" width="70px" /></span>
                                        </div>
                                        <h5 class="card-title" style="margin-top:80px;margin-bottom: 0px;">
                                            {{ data.header }}
                                        </h5>
                                        <span style="font-size: 10px;">{{ data.DateofClosing }}</span><br/><br/>
                                        <p style="margin-top:20px;">
                                            <span style="margin-top: 40px;">
                                                <a href="{{ base_url() }}/EN/services/{{ page.service }}/{{ data.id }}#nav-case-study" class="btn btn-outline-light btn-sm">Read More</a>
                                            </span>
                                            <span class="sc-box-value">{{
                                                data.Value
                                              }}</span>
                                        </p>
                                        <span class="sc-box-value-saying">{{
                                              data.Saying
                                            }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="pages-content">&nbsp;</p>
    </div>
</div>{% endblock %}