{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div calss="col-md-12">
                <div class="bd-example">
                    <div class="carousel slide" data-ride="carousel" id="carouselExampleCaptions">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carouselExampleCaptions"></li>
                            <li data-slide-to="1" data-target="#carouselExampleCaptions"></li>
                            <li data-slide-to="2" data-target="#carouselExampleCaptions"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img alt="AJ Capital Careers" class="d-block w-100" src="{{ base_url() }}/assets/img/careers/carousel-1.jpg" />
                            </div>
                            <div class="carousel-item">
                                <img alt="AJ Capital Team" class="d-block w-100" src="{{ base_url() }}/assets/img/careers/carousel-2.jpg" />
                            </div>
                            <div class="carousel-item">
                                <img alt="AJ Capital Office" class="d-block w-100" src="{{ base_url() }}/assets/img/careers/carousel-3.jpg" />
                            </div>
                        </div>
                        <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleCaptions" role="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" data-slide="next" href="#carouselExampleCaptions" role="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>
                    <h2 class="text-green" style="letter-spacing: 3px;">Challenge and Empower Yourself</h2>
                    We look for people that are intellectually strong and curious. People that are independent in
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            nature with strong self-motivation, who are less interested in
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            titles and brands and more interested in a challenging, varied and
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            intense experience. For these individuals we believe that personal
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            one on one coaching, combined with hands on experience and the
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            pursuit of post graduate study, whether or not in fields of study
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            directly relating to our day to day business, and professional
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            certifications will lead to superior capabilities. We encourage
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            diversity and intellectual excellence.
                </p>
                <hr class="event">
                <div class="row d-sm-block d-md-none">
                    <div class="col-md-12">
                        <h4 class="careers-head">What Alumni Says</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/agam.jpg" width="160px;">
                                <address class="text-center">
                                    <span class="p-txt">Hendro Maulana S</span>
                                    <br>
                                    <p class="p-txt-desc">Phd Candidate</p>
                                    <a aria-controls="hendro" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#hendro">Read More</a>
                                </address>
                            </div>
                        </div>
                        <div class="collapse" id="hendro">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center text-green">
                                        <i class="fa fa-chevron-up"></i>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-cv">
                                        <p style="">
                                            <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#hendro" data-toggle="collapse" type="button">Close</button>
                                        </p>
                                        <h3 class="text-green">Hendro Maulana Sugandi</h3>
                                        <p>He is currently pursuing a PhD in Finance at the Stockholm School of Economics</p>
                                        <p>Education Background:
                                        </p>
                                        <ul class="leadership-list">
                                            <li>Bachelor of Science in Industrial Engineering from the Institut Teknologi Bandung (2010)</li>
                                            <li>Master of Science in Financial Engineering from the University of Illinois (2016)
                                            </li>
                                            <li>PhD Candidate in Finance at the Stockholm School of Economics</li>
                                            <li>CFA Level 1</li>
                                        </ul>
                                        <p class="text-green">1.	What made you interested in applying to AJCapital in the first place?</p>
                                        <p class="text-italic">The People! AJCapital is led by financial professionals that are highly qualified and experienced in the field. I believed that AJCapital is a great place to learn and grow.</p>
                                        <p class="text-green">2.	As an early recruit, how big was the exposure given to you by AJCapital?</p>
                                        <p class="text-italic">Above my expectation. My manager always gave me high exposure tasks, which pushed me to always do my best at work and to learn new things quickly. AJCapital is a boutique firm which with a simple structure and relatively high profile projects. It is not a surprise for someone to work on 1 or more projects at the same time. This high exposure definitely helped me learn faster, and I am not sure that I would have had the same exposure in a bigger consulting firm. An interesting example would be my first project, which was about converting financial statements prepared under Indonesian GAAP to IFRS. I had limited knowledge in accounting at the beginning, but the project, and the coaching from my project manager, helped me to understand what I needed to know in a short period. After the project, I am pretty confident with my accounting and I believe that it helped me passed the CFA level 1.
                                        </p>
                                        <p class="text-green">3.	How did your experiences at AJCapital help you towards your career goals?</p>
                                        <p class="text-italic">All my experiences at AJCapital absolutely helped me to become a better financial analyst. For example, I worked on a feasibility study of an acquisition, which required me to understand important factors about the potential acquirer’s decision and the impact on his overall business model. To get a better picture of the company, we used various tools and frameworks not only financial tools. Furthermore, at AJCapital I learned to manage my time, client expectations and deadlines efficiently. At some points, I was assigned more than one project which I had to manage and deliver. My times at AJCapital have really helped me through my master’s degree in financial engineering, since I had already encountered some of the topics and complexities through practical experiences at AJCapital. The Firm is committed to grow its people. Everyone in the Firm is willing to share their knowledge with others. When I was in AJCapital, there were sharing sessions which enable me to keep learning something new, either about an industry or a new technical skill.</p>
                                        <p class="text-green">4.	Of all the projects you worked on at AJCapital, which had the most influence on your personal development?</p>
                                        <p class="text-italic">It was the feasibility projects, such as one for a hospital information system, which I believe influenced me the most. I was the project manager and I had to interact directly with the client’s senior executive, the project partner, and my team members. It was a rewarding and challenging leadership experience.</p>
                                        <p class="text-green">5.	What was your favorite moment at AJCapital?</p>
                                        <p class="text-italic">Annual outing! We went to Singapore, Thailand, and Vietnam for outings.</p>
                                        <p class="text-green">6.	What were the most valuable lessons you learned at AJCapital?
                                        </p>
                                        <p class="text-italic">I believe that I learnt most from the Firm’s culture. AJCapital often takes on large high-profile intense projects, more so than I was expecting from a firm its size. They succeeded in all their projects. I learned from this that by working hard, effective, and efficient, I can achieve my dreams and goals no matter how big they are.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/nathan.jpg" width="160px;">
                                <address class="text-center">
                                    <span class="p-txt">Nathanael Siagian</span>
                                    <br>
                                    <p class="p-txt-desc">Private Equity</p>
                                    <a aria-controls="nathan" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#nathan">Read More</a>
                                </address>
                            </div>
                        </div>
                        <div class="collapse" id="nathan">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center text-green">
                                        <i class="fa fa-chevron-up"></i>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-cv">
                                        <p style="">
                                            <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#nathan" data-toggle="collapse" type="button">Close</button>
                                        </p>
                                        <h3 class="text-green text-center">Nathanael Siagian</h3>
                                        <p class="text-center">He is currently pursuing a career with a private equity firm</p>
                                        <p>Education Background:
                                        </p>
                                        <ul class="leadership-list">
                                            <li>Bachelor of Commerce in Accounting & Finance from the University of Western Australia  (2010)</li>
                                            <li>Master of Applied Finance, Investment and Securities from the University of Wollongong, NSW Australia (2011)</li>
                                        </ul>
                                        <p class="text-green">1.	What made you interested in applying to AJCapital in the first place?</p>
                                        <p class="text-italic">The profile of the partners, the client base, and the types of projects that the Firm has completed.</p>
                                        <p class="text-green">2.	As an early recruit, how big was the exposure given to you by AJCapital?</p>
                                        <p class="text-italic">The exposure is extensive, both in breadth and depth. The tasks I was exposed to ranged from researching and developing financial models to developing presentation decks. I was actively involved from the initiation of a project until its execution. This allowed me to experience aspects of corporate finance transactions that are not commonly accessible by early graduates such as, deal initiation, transaction structuring, negotiations, and even drafting transaction documents. Given AJCapital’s lean structure, each member of the team, even the early graduates, are given a substantial amount of responsibility. Therefore, each member of the team is always presented with a huge opportunity to grow. I believe such level of team empowerment is unique to AJCapital.</p>
                                        <p class="text-green">3.	How did your experiences at AJCapital help you towards your career goals?
                                        </p>
                                        <p class="text-italic">The lessons that I learned from AJCapital are invaluable to my career. First, the experience shaped the way I approach business problems. It taught me how to boil down problems in a structured manner so that they can be solved efficiently. Second, I gained an array of knowledge that can help me solve business problems. Furthermore, I was always encouraged to think out of the box and to be creative in developing solutions to business problems. Lastly and most importantly, I was continuously challenged to apply these lessons in a fast paced working environment.</p>
                                        <p class="text-green">4.	Of all the projects you worked on at AJCapital, which had the most influence on your personal development?</p>
                                        <p class="text-italic">It would be e-Ticket Project, and it was my first experience leading a team of professionals. I was responsible not only for my part of the project, but also for the development of my younger teammates and for maintaining relationships with the client. It made me realize the importance of leadership and inter-personal skills in the business.</p>
                                        <p class="text-green">5.	What was your favorite moment at AJCapital?</p>
                                        <p class="text-italic">The closing of the e-Ticket project. The team members were involved from day one, we worked hard through each stage of the transaction, and we came up with a unique structure that made everyone happy, especially the client. It was very satisfying to see smiling faces during the signing of the share purchase agreement.
                                        </p>
                                        <p class="text-green">6.	What were the most valuable lessons you learned at AJCapital?
                                        </p>
                                        <p class="text-italic">Thought process, commercial sense, leadership and work ethics.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/edu.jpg" width="160px;">
                                <address class="text-center">
                                    <span class="p-txt">Edward Widjonarko</span>
                                    <br>
                                    <p class="p-txt-desc">Enterpreneur</p>
                                    <a aria-controls="edo" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#edo">Read More</a>
                                </address>
                            </div>
                        </div>
                        <div class="collapse" id="edo">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center text-green">
                                        <i class="fa fa-chevron-up"></i>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-cv">
                                        <p style="">
                                            <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#edo" data-toggle="collapse" type="button">Close</button>
                                        </p>
                                        <h3 class="text-green">Edward Widjonarko</h3>
                                        <p class="text-left">He is currently developing his own start-up company</p>
                                        <p>Education Background:</p>
                                        <ul class="leadership-list">
                                            <li>Bachelor of Business and Management majoring in Finance from the Sekolah Bisnis dan Manajemen – Institut Teknologi Bandung (2008)
                                            </li>
                                            <li>Master of Business Administration from INSEAD (2016)</li>
                                        </ul>
                                        <p class="text-green">1. What made you interested in applying to AJCapital in the first place?</p>
                                        <p class="text-italic">My passion is finance, I am interested in complex financial models, valuation and transaction structures. Through my research of AJCapital and from discussions with friends prior to applying, I came to learn that at AJCapital I would have the opportunity to: (i) learn in a dynamic working environment with exposure to projects across various industries; and (ii) network at high levels, including C-level executives, Private Equity Investors and Bankers.</p>
                                        <p class="text-green">2. As an early recruit, how big was the exposure given to you by AJCapital?</p>
                                        <p class="text-italic">A lot, considering we work in a small but solid team. I was involved in client facing meetings since the first day of work. Luckily all the Partners and members of the firm are always there to help and support us during each project.
                                        </p>
                                        <p class="text-green">3. How did your experiences at AJCapital help you towards your career goals?</p>
                                        <p class="text-italic">I found working at AJCapital was a rewarding experience, and it gave me a solid foundation for my MBA and my startup initiative. The experience really shaped not only my technical skills, such as project management and technical finance acumen, but it also helped me a lot in developing my soft skills through my constant interaction with clients and the leadership team.
                                        </p>
                                        <p class="text-green">4. Of all the projects you worked on at AJCapital, which had the most influence on your personal development?</p>
                                        <p class="text-italic">For me, the most rewarding project was the USD31.5 million fund raising project for a natural ingredient products manufacturer. The client was in financial distress and without the fund raising, they would be forced into liquidation. Our team worked closely with the owner and his team to identify and develop a turnaround strategy. On the other side, we worked closely with banks and potential investors to negotiate a debt restructuring and to secure a capital injection. Ultimately, we successfully secured USD31.5 million capital injections from a private equity firm and from a regional bank. Now the client has become one of the largest players in its sector and is growing rapidly.
                                        </p>
                                        <p class="text-green">5. What was your favorite moment at AJCapital?
                                        </p>
                                        <p class="text-italic">Every year we organize an end of year trip for all member of the firm. My fondest trip was to Vietnam and Phuket. Such a nice one week break from the hectic world of corporate finance.
                                        </p>
                                        <p class="text-green">6. What were the most valuable lessons you learned at AJCapital?
                                        </p>
                                        <p class="text-italic">The greatest lesson learned: go beyond your job responsibility, and always try to find opportunities to develop yourself and your surroundings – then your job will become a very rewarding experience by itself.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="event d-none">
                        <h4 class="careers-head d-none">A Day in AJCapital</h4>

                        <div class="row d-none">
                            <div class="col-md-12">
                                <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url()}}/assets/img/people/susana.jpg" width="160px;">
                                <address class="text-center">
                                    <span class="p-txt">Susana Cassandra Santosa</span>
                                    <br>
                                    <p class="p-txt-desc">Manager</p>
                                    <a aria-controls="susana" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#susana">Read More</a>
                                </address>
                            </div>
                        </div>
                        <div class="collapse d-none" id="susana">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center text-green">
                                        <i class="fa fa-chevron-up"></i>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-cv">
                                        <p style="">
                                            <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#susana" data-toggle="collapse" type="button">Close</button>
                                        </p>
                                        <h5 class="text-green">The day I chose to present I feel is typical for a new graduate in the Firm.</h5>
                                        <p>I arrived on time after a typical heavy-traffic Monday in Jakarta. I ran straight to the board room, where my project manager and another associate were ready to start the internal weekly meeting to discuss M&A deals between two state owned enterprises. My project manager started by explaining our goals for the week, task allocations, deliverables and deadlines. I started my first task by finalizing presentation material for a meeting in the afternoon with the Finance Director. After sending the presentation material to my project manager for review, I continued to work on the financial model that I was scheduled to be finished by the end of the week.</p>
                                        <p>At lunch, I met up with the committee organizing our annual outing, a task assigned to new recruits. We were discussing interesting options in Indonesia for the current year’s outing. We chose to hold our outing in Indonesia considering that the last two outings were overseas.</p>
                                        <p>After lunch we had to go to our client’s office to present a progress status update, new findings, and plausible solutions. Occasionally during the meeting I was requested to clarify points raised by the client. Afterwards, I prepared minutes of meeting and summarized the agreed action points. Personally I find this helps me to understand the overall objective of the project and the task priority.</p>
                                        <p>After returning to the office, I continued working on the revenue and cost structure of the financial model incorporating the discussion points my project manager had raised earlier. I find my colleagues are very open to questions and discussions, which really helps me learn.</p>
                                        <p>After a busy day, I would normally go with friends to the gym or go out for dinner.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/christo.jpg" width="160px;">
                                    <address class="text-center">
                                        <span class="p-txt">Christoper Joutua</span>
                                        <br>
                                        <p class="p-txt-desc">Project Manager</p>
                                        <a aria-controls="christo" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#christo">Read More</a>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="collapse d-none" id="christo">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center text-green">
                                        <i class="fa fa-chevron-up"></i>
                                    </h2>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-cv">
                                        <p style="">
                                            <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#christo" data-toggle="collapse" type="button">Close</button>
                                        </p>
                                        <h5 class="text-green">The day I chose to present I feel is typical for my current level and represents the tasks and management skills I use most.</h5>
                                        <p>I started my day with a meeting with our client, whose business is gas storage and logistic services, to discuss fund raising options and a draft information memorandum. On my way to the client’s office, I reviewed my outstanding to-do list on two other projects that my team had to accomplish. Prior to my arrival at the client’s office, I spoke with one of my staff in the office to ensure she understood the priority of the allocated tasks.</p>
                                        <p>The meeting started with me briefly updating the progress of the project to the owner and his business development officer, followed by a discussion on capital structure options, our recommendation on the fund raising target and clarified the client’s strategic plans as drafted in the information memorandum. Upon return to our office, I updated my project partner and sought his advice on potential investors to be approached.</p>
                                        <p>After lunch, I gathered my fund raising project team to discuss and update tasks lists and to agree the timeline based on the morning meeting. Later in the afternoon, I held a review session covering the morning’s tasks. I provided feedback and explanations on the key underlying assumptions I wanted them to use in their financial model. Prior sending the financial model draft to our client, I asked my project partner to review and approve. With my tasks and goals achieved for the day, I updated my to-do list for the rest of the week. I concluded my day with a dinner with my girlfriend.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block" id="leadership">
                    <h4 class="careers-head">What Alumni Says</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/agam.jpg" width="160px;">
                            <address class="text-center">
                                <span class="p-txt">Hendro Maulana S</span>
                                <br>
                                <p class="p-txt-desc">Phd Candidate</p>
                                <a aria-controls="hendro" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#hendro">Read More</a>
                            </address>
                        </div>
                        <div class="col-md-4">
                            <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/nathan.jpg" width="160px;">
                            <address class="text-center">
                                <span class="p-txt">Nathanael Siagian</span>
                                <br>
                                <p class="p-txt-desc">Private Equity</p>
                                <a aria-controls="nathan" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#nathan">Read More</a>
                            </address>
                        </div>
                        <div class="col-md-4">
                            <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/edu.jpg" width="160px;">
                            <address class="text-center">
                                <span class="p-txt">Edward Widjonarko</span>
                                <br>
                                <p class="p-txt-desc">Enterpreneur</p>
                                <a aria-controls="edo" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#edo">Read More</a>
                            </address>
                        </div>
                    </div>

                    <div class="row" style="padding-right: 20px;">
                        <div class="col-md-12">
                            <div class="collapse" id="hendro">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="text-center text-green">
                                            <i class="fa fa-chevron-up"></i>
                                        </h2>
                                    </div>
                                    <div class="col-md-8"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-cv">
                                            <p style="">
                                                <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#hendro" data-toggle="collapse" type="button">Close</button>
                                            </p>
                                            <h3 class="text-green">Hendro Maulana Sugandi</h3>
                                            <p>He is currently pursuing a PhD in Finance at the Stockholm School of Economics</p>
                                            <p>Education Background:
                                            </p>
                                            <ul class="leadership-list">
                                                <li>Bachelor of Science in Industrial Engineering from the Institut Teknologi Bandung (2010)</li>
                                                <li>Master of Science in Financial Engineering from the University of Illinois (2016)
                                                </li>
                                                <li>PhD Candidate in Finance at the Stockholm School of Economics</li>
                                                <li>CFA Level 1</li>
                                            </ul>
                                            <p class="text-green">1.	What made you interested in applying to AJCapital in the first place?</p>
                                            <p class="text-italic">The People! AJCapital is led by financial professionals that are highly qualified and experienced in the field. I believed that AJCapital is a great place to learn and grow.</p>
                                            <p class="text-green">2.	As an early recruit, how big was the exposure given to you by AJCapital?</p>
                                            <p class="text-italic">Above my expectation. My manager always gave me high exposure tasks, which pushed me to always do my best at work and to learn new things quickly. AJCapital is a boutique firm which with a simple structure and relatively high profile projects. It is not a surprise for someone to work on 1 or more projects at the same time. This high exposure definitely helped me learn faster, and I am not sure that I would have had the same exposure in a bigger consulting firm. An interesting example would be my first project, which was about converting financial statements prepared under Indonesian GAAP to IFRS. I had limited knowledge in accounting at the beginning, but the project, and the coaching from my project manager, helped me to understand what I needed to know in a short period. After the project, I am pretty confident with my accounting and I believe that it helped me passed the CFA level 1.
                                            </p>
                                            <p class="text-green">3.	How did your experiences at AJCapital help you towards your career goals?</p>
                                            <p class="text-italic">All my experiences at AJCapital absolutely helped me to become a better financial analyst. For example, I worked on a feasibility study of an acquisition, which required me to understand important factors about the potential acquirer’s decision and the impact on his overall business model. To get a better picture of the company, we used various tools and frameworks not only financial tools. Furthermore, at AJCapital I learned to manage my time, client expectations and deadlines efficiently. At some points, I was assigned more than one project which I had to manage and deliver. My times at AJCapital have really helped me through my master’s degree in financial engineering, since I had already encountered some of the topics and complexities through practical experiences at AJCapital. The Firm is committed to grow its people. Everyone in the Firm is willing to share their knowledge with others. When I was in AJCapital, there were sharing sessions which enable me to keep learning something new, either about an industry or a new technical skill.</p>
                                            <p class="text-green">4.	Of all the projects you worked on at AJCapital, which had the most influence on your personal development?</p>
                                            <p class="text-italic">It was the feasibility projects, such as one for a hospital information system, which I believe influenced me the most. I was the project manager and I had to interact directly with the client’s senior executive, the project partner, and my team members. It was a rewarding and challenging leadership experience.</p>
                                            <p class="text-green">5.	What was your favorite moment at AJCapital?</p>
                                            <p class="text-italic">Annual outing! We went to Singapore, Thailand, and Vietnam for outings.</p>
                                            <p class="text-green">6.	What were the most valuable lessons you learned at AJCapital?
                                            </p>
                                            <p class="text-italic">I believe that I learnt most from the Firm’s culture. AJCapital often takes on large high-profile intense projects, more so than I was expecting from a firm its size. They succeeded in all their projects. I learned from this that by working hard, effective, and efficient, I can achieve my dreams and goals no matter how big they are.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <div class="col-md-12">
                            <div class="collapse" id="nathan">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <h2 class="text-center text-green">
                                            <i class="fa fa-chevron-up"></i>
                                        </h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-cv">
                                            <p style="">
                                                <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#nathan" data-toggle="collapse" type="button">Close</button>
                                            </p>
                                            <h3 class="text-green text-center">Nathanael Siagian</h3>
                                            <p class="text-center">He is currently pursuing a career with a private equity firm</p>
                                            <p>Education Background:
                                            </p>
                                            <ul class="leadership-list">
                                                <li>Bachelor of Commerce in Accounting & Finance from the University of Western Australia  (2010)</li>
                                                <li>Master of Applied Finance, Investment and Securities from the University of Wollongong, NSW Australia (2011)</li>
                                            </ul>
                                            <p class="text-green">1.	What made you interested in applying to AJCapital in the first place?</p>
                                            <p class="text-italic">The profile of the partners, the client base, and the types of projects that the Firm has completed.</p>
                                            <p class="text-green">2.	As an early recruit, how big was the exposure given to you by AJCapital?</p>
                                            <p class="text-italic">The exposure is extensive, both in breadth and depth. The tasks I was exposed to ranged from researching and developing financial models to developing presentation decks. I was actively involved from the initiation of a project until its execution. This allowed me to experience aspects of corporate finance transactions that are not commonly accessible by early graduates such as, deal initiation, transaction structuring, negotiations, and even drafting transaction documents. Given AJCapital’s lean structure, each member of the team, even the early graduates, are given a substantial amount of responsibility. Therefore, each member of the team is always presented with a huge opportunity to grow. I believe such level of team empowerment is unique to AJCapital.</p>
                                            <p class="text-green">3.	How did your experiences at AJCapital help you towards your career goals?
                                            </p>
                                            <p class="text-italic">The lessons that I learned from AJCapital are invaluable to my career. First, the experience shaped the way I approach business problems. It taught me how to boil down problems in a structured manner so that they can be solved efficiently. Second, I gained an array of knowledge that can help me solve business problems. Furthermore, I was always encouraged to think out of the box and to be creative in developing solutions to business problems. Lastly and most importantly, I was continuously challenged to apply these lessons in a fast paced working environment.</p>
                                            <p class="text-green">4.	Of all the projects you worked on at AJCapital, which had the most influence on your personal development?</p>
                                            <p class="text-italic">It would be e-Ticket Project, and it was my first experience leading a team of professionals. I was responsible not only for my part of the project, but also for the development of my younger teammates and for maintaining relationships with the client. It made me realize the importance of leadership and inter-personal skills in the business.</p>
                                            <p class="text-green">5.	What was your favorite moment at AJCapital?</p>
                                            <p class="text-italic">The closing of the e-Ticket project. The team members were involved from day one, we worked hard through each stage of the transaction, and we came up with a unique structure that made everyone happy, especially the client. It was very satisfying to see smiling faces during the signing of the share purchase agreement.
                                            </p>
                                            <p class="text-green">6.	What were the most valuable lessons you learned at AJCapital?
                                            </p>
                                            <p class="text-italic">Thought process, commercial sense, leadership and work ethics.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <div class="col-md-12">
                            <div class="collapse" id="edo">
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <h2 class="text-center text-green">
                                            <i class="fa fa-chevron-up"></i>
                                        </h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-cv">
                                            <p style="">
                                                <button aria-expanded="true" class="btn btn-success btn-sm float-left" data-target="#edo" data-toggle="collapse" type="button">Close</button>
                                            </p>
                                            <h3 class="text-green text-right">Edward Widjonarko</h3>
                                            <p class="text-right">He is currently developing his own start-up company</p>
                                            <p>Education Background:</p>
                                            <ul class="leadership-list">
                                                <li>Bachelor of Business and Management majoring in Finance from the Sekolah Bisnis dan Manajemen – Institut Teknologi Bandung (2008)
                                                </li>
                                                <li>Master of Business Administration from INSEAD (2016)</li>
                                            </ul>
                                            <p class="text-green">1. What made you interested in applying to AJCapital in the first place?</p>
                                            <p class="text-italic">My passion is finance, I am interested in complex financial models, valuation and transaction structures. Through my research of AJCapital and from discussions with friends prior to applying, I came to learn that at AJCapital I would have the opportunity to: (i) learn in a dynamic working environment with exposure to projects across various industries; and (ii) network at high levels, including C-level executives, Private Equity Investors and Bankers.</p>
                                            <p class="text-green">2. As an early recruit, how big was the exposure given to you by AJCapital?</p>
                                            <p class="text-italic">A lot, considering we work in a small but solid team. I was involved in client facing meetings since the first day of work. Luckily all the Partners and members of the firm are always there to help and support us during each project.
                                            </p>
                                            <p class="text-green">3. How did your experiences at AJCapital help you towards your career goals?</p>
                                            <p class="text-italic">I found working at AJCapital was a rewarding experience, and it gave me a solid foundation for my MBA and my startup initiative. The experience really shaped not only my technical skills, such as project management and technical finance acumen, but it also helped me a lot in developing my soft skills through my constant interaction with clients and the leadership team.
                                            </p>
                                            <p class="text-green">4. Of all the projects you worked on at AJCapital, which had the most influence on your personal development?</p>
                                            <p class="text-italic">For me, the most rewarding project was the USD31.5 million fund raising project for a natural ingredient products manufacturer. The client was in financial distress and without the fund raising, they would be forced into liquidation. Our team worked closely with the owner and his team to identify and develop a turnaround strategy. On the other side, we worked closely with banks and potential investors to negotiate a debt restructuring and to secure a capital injection. Ultimately, we successfully secured USD31.5 million capital injections from a private equity firm and from a regional bank. Now the client has become one of the largest players in its sector and is growing rapidly.
                                            </p>
                                            <p class="text-green">5. What was your favorite moment at AJCapital?
                                            </p>
                                            <p class="text-italic">Every year we organize an end of year trip for all member of the firm. My fondest trip was to Vietnam and Phuket. Such a nice one week break from the hectic world of corporate finance.
                                            </p>
                                            <p class="text-green">6. What were the most valuable lessons you learned at AJCapital?
                                            </p>
                                            <p class="text-italic">The greatest lesson learned: go beyond your job responsibility, and always try to find opportunities to develop yourself and your surroundings – then your job will become a very rewarding experience by itself.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="event d-none">
                    <h4 class="careers-head d-none">A Day in AJCapital</h4>
                    <div class="row d-none">
                        <div class="col-md-4">
                            <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url()}}/assets/img/people/susana.jpg" width="160px;">
                            <address class="text-center">
                                <span class="p-txt">Susana Cassandra Santosa</span>
                                <br>
                                <p class="p-txt-desc">Manager</p>
                                <a aria-controls="susana" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#susana">Read More</a>
                            </address>
                        </div>
                        <div class="col-md-4">
                            <img alt="" class="rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/people/christo.jpg" width="160px;">
                            <address class="text-center">
                                <span class="p-txt">Christoper Joutua</span>
                                <br>
                                <p class="p-txt-desc">Project Manager</p>
                                <a aria-controls="christo" aria-expanded="true" class="btn btn-outline-success btn-sm" data-parent="#leadership" data-toggle="collapse" href="#christo">Read More</a>
                            </address>
                        </div>
                    </div>
                    <div class="row d-none" style="padding-right: 20px;">
                        <div class="col-md-12">
                            <div class="collapse d-none" id="susana">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2 class="text-center text-green">
                                            <i class="fa fa-chevron-up"></i>
                                        </h2>
                                    </div>
                                    <div class="col-md-8"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-cv">
                                            <p style="">
                                                <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#susana" data-toggle="collapse" type="button">Close</button>
                                            </p>
                                            <h5 class="text-green">The day I chose to present I feel is typical for a new graduate in the Firm.</h5>
                                            <p>I arrived on time after a typical heavy-traffic Monday in Jakarta. I ran straight to the board room, where my project manager and another associate were ready to start the internal weekly meeting to discuss M&A deals between two state owned enterprises. My project manager started by explaining our goals for the week, task allocations, deliverables and deadlines. I started my first task by finalizing presentation material for a meeting in the afternoon with the Finance Director. After sending the presentation material to my project manager for review, I continued to work on the financial model that I was scheduled to be finished by the end of the week.</p>
                                            <p>At lunch, I met up with the committee organizing our annual outing, a task assigned to new recruits. We were discussing interesting options in Indonesia for the current year’s outing. We chose to hold our outing in Indonesia considering that the last two outings were overseas.</p>
                                            <p>After lunch we had to go to our client’s office to present a progress status update, new findings, and plausible solutions. Occasionally during the meeting I was requested to clarify points raised by the client. Afterwards, I prepared minutes of meeting and summarized the agreed action points. Personally I find this helps me to understand the overall objective of the project and the task priority.</p>
                                            <p>After returning to the office, I continued working on the revenue and cost structure of the financial model incorporating the discussion points my project manager had raised earlier. I find my colleagues are very open to questions and discussions, which really helps me learn.</p>
                                            <p>After a busy day, I would normally go with friends to the gym or go out for dinner.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-none" style="padding-right: 20px;">
                        <div class="col-md-12">
                            <div class="collapse d-none" id="christo">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <h2 class="text-center text-green">
                                            <i class="fa fa-chevron-up"></i>
                                        </h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-cv">
                                            <p style="">
                                                <button aria-expanded="true" class="btn btn-success btn-sm float-right" data-target="#christo" data-toggle="collapse" type="button">Close</button>
                                            </p>
                                            <h5 class="text-green">The day I chose to present I feel is typical for my current level and represents the tasks and management skills I use most.</h5>
                                            <p>I started my day with a meeting with our client, whose business is gas storage and logistic services, to discuss fund raising options and a draft information memorandum. On my way to the client’s office, I reviewed my outstanding to-do list on two other projects that my team had to accomplish. Prior to my arrival at the client’s office, I spoke with one of my staff in the office to ensure she understood the priority of the allocated tasks.</p>
                                            <p>The meeting started with me briefly updating the progress of the project to the owner and his business development officer, followed by a discussion on capital structure options, our recommendation on the fund raising target and clarified the client’s strategic plans as drafted in the information memorandum. Upon return to our office, I updated my project partner and sought his advice on potential investors to be approached.</p>
                                            <p>After lunch, I gathered my fund raising project team to discuss and update tasks lists and to agree the timeline based on the morning meeting. Later in the afternoon, I held a review session covering the morning’s tasks. I provided feedback and explanations on the key underlying assumptions I wanted them to use in their financial model. Prior sending the financial model draft to our client, I asked my project partner to review and approve. With my tasks and goals achieved for the day, I updated my to-do list for the rest of the week. I concluded my day with a dinner with my girlfriend.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <hr class="event">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-case">
                                    <span style="font-size:10px">Recruitment</span>
                                    <span>
                                        <img alt="" src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png" style="float: right;" width="80px"></span>
                                </div>
                                <p>&nbsp;</p>
                                <h5 class="card-title" style="margin-top:20px;margin-bottom: 0px;">Fresh Graduate Recruitment</h5>
                                <p>&nbsp;</p>
                                <p>
                                    <span style="margin-top: 10px;">
                                        <a class="btn btn-outline-light btn-sm" href="{{base_url()}}/EN/careers/graduate-recruitment">Apply Here</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-case">
                                    <span style="margin-top:50px;font-size:10px">Recruitment</span>
                                    <span>
                                        <img alt="" src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png" style="float: right;" width="80px"></span>
                                </div>
                                <p>&nbsp;</p>
                                <h5 class="card-title" style="margin-top:20px;margin-bottom: 0px;">Experience Recruitment</h5>
                                <p>&nbsp;</p>
                                <p>
                                    <span style="margin-top: 10px;">
                                        <a class="btn btn-outline-light btn-sm" href="{{base_url()}}/EN/careers/experienced-recruitment">Apply Here</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}