{% extends 'template/layout_en_home.twig' %}
{% block content %}
    <header class="slider-wrapper" style="margin-top:20px;">
        <div class="slider carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item items item-1 active" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-1.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 10px;">CREATING VALUE IN ASIA</h1>
                        <h7>Serviced from Our Offices in Strategic Asian Geographies</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="https://ajcapital.asia/EN/aboutus" style="margin-top:60px;">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item items item-2" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-2.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 10px;">PROVIDING GUIDANCE AND LEADERSHIP</h1>
                        <h7>in Difficult, Complex and Organization Defining Situations
                        </h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="https://ajcapital.asia/EN/aboutus/transactionsandcasestudy" style="margin-top:60px">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item items item-3" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-3.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 10px;">SUPPORTING OUR CLIENTS IN DEVELOPMENT</h1>
                        <h7>Helping them Realize their Visions through the Execution and Implementation of Initiatives and Transactions</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="https://ajcapital.asia/EN/services" style="margin-top:60px">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item items item-4" style="background-image: url('{{ base_url() }}/assets/img/hero/silde-4.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 10px;">BRINGING INTELLECTUAL INTEGRITY AND RIGOR</h1>
                        <h7>to Enhance Research and Technical Execution, Supported by a Deep Business Network</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="https://ajcapital.asia/EN/ourleadership" style="margin-top:60px">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item items item-5" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-5.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 510x;">INVESTING IN PEOPLE</h1>
                        <h7>We Challenge and Empower Our People so They can Better Support Our Clients</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="https://ajcapital.asia/EN/careers" style="margin-top:60px">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid d-sm-block d-md-none">
        <br/>
        <h4 class="text-center whatwedo">WHAT WE DO</h4>
        <br/>
        <div class="row">
            <div class="col-xs-6 w-50 h-50">
                <div class="card">
                    <img src="{{base_url()}}/assets/img/pages/card-debrestruktur.jpg" class="card-img" alt="...">
                    <div class="overlay-div"></div>
                    <div class="card-img-overlay">
                        <div class="card-body">
                            <h5 class="card-title">Debtor</h5>
                            <p class="card-text">Restructurings and Turnaround Management
                            </p>
                            <p class="pages-content-push">&nbsp;</p>
                            <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/EN/services/debt-restructurings-and-turnaround-management">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 w-50 h-50">
                <div class="card">
                    <img src="{{base_url()}}/assets/img/pages/csa-card.jpg" class="card-img" alt="...">
                    <div class="overlay-div"></div>
                    <div class="card-img-overlay">
                        <div class="card-body">
                            <h5 class="card-title">Creditor</h5>
                            <p class="card-text">Creditor Support and Advisory
                            </p>
                            <p class="pages-content-push">&nbsp;</p>

                            <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/EN/services/creditor-support-and-advisory">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 w-50 h-50">
                <div class="card">
                    <img src="{{base_url()}}/assets/img/pages/card-ma.jpg" class="card-img" alt="...">
                    <div class="overlay-div"></div>
                    <div class="card-img-overlay">

                        <div class="card-body">
                            <h5 class="card-title">Transactions</h5>
                            <p class="card-text">M&A Advisory and Fund Raising
                            </i>
                        </p>
                        <p class="pages-content-push">&nbsp;</p>

                        <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/EN/services/ma-advisory-and-fundraising">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 w-50 h-50">
            <div class="card">
                <img src="{{base_url()}}/assets/img/pages/card-cims.jpg" class="card-img" alt="...">
                <div class="overlay-div"></div>
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h5 class="card-title">Corporate</h5>
                        <p class="card-text">Corporate Initiative Management and Support
                        </p>
                        <p class="pages-content-push">&nbsp;</p>

                        <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/EN/services/corporate-initiative-management-and-support">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="container-fluid ">
    <section class="d-none d-md-block" id="services">
        <h2 class="text-center whatwedo">WHAT WE DO</h2>
        <br/>
        <div class="card-deck">
            <div class="card">
                <img src="{{base_url()}}/assets/img/pages/card-debrestruktur.jpg" class="card-img" alt="...">
                <div class="overlay-div"></div>
                <div class="card-img-overlay">
                    <div class="card-block">
                        <h4 class="card-title services-head-sm">Debtor</h4>
                        <p class="card-text text-sm">
                            Restructurings and Turnaround Management
                        </p>
                        <p class="card-text services-end">
                            <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/EN/services/debt-restructurings-and-turnaround-management">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{base_url()}}/assets/img/pages/csa-card.jpg" class="card-img" alt="...">
                <div class="overlay-div"></div>
                <div class="card-img-overlay">
                    <div class="card-block">
                        <h4 class="card-title services-head-sm">Creditor</h4>
                        <p class="card-text text-sm">
                            Creditor Support and Advisory
                        </p>
                        <p class="card-text services-end">
                            <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/EN/services/creditor-support-and-advisory">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card maafr">
                <img src="{{base_url()}}/assets/img/pages/card-ma.jpg" class="card-img" alt="...">
                <div class="overlay-div"></div>
                <div class="card-img-overlay">
                    <div class="card-block">
                        <h4 class="card-title services-head-sm">Transactions</h4>
                        <p class="card-text text-sm">
                            M&A Advisory and Fund Raising
                        </p>
                        <p class="card-text services-end">
                            <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/EN/services/ma-advisory-and-fundraising">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card cims">
                <img src="{{base_url()}}/assets/img/pages/card-cims.jpg" class="card-img" alt="...">
                <div class="overlay-div"></div>
                <div class="card-img-overlay">
                    <div class="card-block">
                        <h4 class="card-title services-head-sm">Corporate</h4>
                        <p class="card-text text-sm">
                            Corporate Initiative Management and Support
                        </p>
                        <p class="card-text services-end">
                            <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/EN/services/corporate-initiative-management-and-support">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section id="tag-line">
        <div class="overlay-tag"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3 class="text-white text-center pages-content" style="letter-spacing:4px;">
                        AJCapital Advisory
                    </h3>
                    <p class="text-white text-center">
                        We are an Asian focused boutique Corporate Advisory Firm focused on complex situations and transactions, domestic and cross border, which need our particular brand of problem solving. We bring a wealth of expertise and experience, deep networking and relationships, multicultural negotiation skills, all wrapped around a strategic mindset and clarity of issue management
                    </p>
                    <img src="{{ base_url()}}/assets/img/pages/ajcapital_white.png" width="40px;" class="img-small-logo-center" />
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
{% endblock %}