{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="container-fluid d-sm-block d-md-none">
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="gs" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#gs">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/gs_profile.jpg" /></a>

                <address class="text-center">
                    <span class="p-txt">
                        Geoffrey D. Simms</span>
                    <br/>
                    <p class="p-txt-desc">CEO and Partner</p>
                </address>
            </div>
        </div>
        <div class="collapse" id="gs">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-parent="#leadership" data-target="#gs" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Geoff Simms, the CEO and Founder of AJCapital, has over 30 years of experience within finance, restructuring and strategy in Asia Pacific. Geoff has covered extensively banking and finance, telecom, petrochemical, property and resource sectors.
                        </p>
                        <h4 class="text-green">Experience</h4>
                        <p>Geoff has been active in debt and corporate restructurings in Indonesia, managing numerous court supervised processes (“PKPU”) as well as voluntary out of court processes.  Such work included PT Trans Pacific Petrochemical Indotama, PT Bumi Resources Tbk and PT Ciputra Developments Tbk.  He advised the Indonesian Debt Restructuring Agency on the disposal of NPL portfolios, and has conducted a number forensic assignments.
                        </p>
                        <p>Geoff has been involved with:</p>
                        <ul class="leadership-list">
                            <li>Advising on over USD 4 billion in debt and corporate restructurings in the petrochemical sector in Indonesia</li>
                            <li>Advising on over USD 11 billion in PKPU debt restructuring proceedings in Indonesia</li>
                            <li>Advising on over USD 9 billion in M&A transactions in Indonesia including Lead Partner advising PT Pertamina (Persero) on M&A transactions in the gas and petrochemical sector</li>
                            <li>Development and project management of a roll up strategy in the telecommunications tower sector funded by a major international PE fund</li>
                            <li>Advising on first US SEC registered and NASDAQ listed Indonesian public company</li>
                            <li>Numerous domestic and overseas bond issuances including some of the first Yankee and SEC registered transactions out of Indonesia</li>
                        </ul>
                        <h4 class="text-green">Qualifications and Memberships</h4>
                        <ul class="leadership-list">
                            <li>B.Comm University of British Columbia</li>
                            <li>MBA issued jointly by Kellogg School of Management, Northwestern University and the Hong Kong University of Science and Technology</li>
                            <li>Chartered Professional Accountant, Canada</li>
                            <li>Chartered Financial Analyst</li>
                            <li>Fellow INSOL International</li>
                            <li>Founding Board Member of the Indonesian CFA Society</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="fa" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#fa">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/alip_profile.jpg" /></a>

                <address class="text-center">
                    <span class="p-txt">Fransiscus Alip</span>
                    <br/>
                    <p class="p-txt-desc">Partner</p>
                </address>
            </div>
        </div>
        <div class="collapse" id="fa">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#fa" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Fransiscus Alip, a Partner and Co-Founder of AJCapital Advisory, main focus is on cross border transactions, corporate and debt restructurings and fund raisings with diverse multi-cultural stakeholders. He is often brought into situations to liaise, manage and resolve issues between locals and foreigners.
                        </p>
                        <h4 class="text-green">Experience</h4>
                        <p>Alip has over 20 years of experience within the finance, strategy and audit assurance area in Indonesia, Australia and Asia Pacific. He was with EY for 9 years in the audit assurance sector including 4 years in EY Sydney office. Industrial sectors Alip has covered include oil and gas, telecoms, media and technology, petrochemicals, consumers and resources.
                        </p>
                        <p>Alip has been involved with:</p>
                        <ul class="leadership-list">
                            <li>Advising on over USD 10 billion in PKPU debt restructuring proceedings in the telecoms, petrochemicals, tea plantation, and resources sector, including Co-Lead Partner advising BOD of PT Trans Pacific Petrochemical Indotama on the restructuring of over USD 2 billion in debt</li>
                            <li>Appointed as independent financial advisor in the Jakarta Commercial Court on few PKPU debt restructuring proceedings</li>
                            <li>Appointed as Monitoring Accountant by bank creditors upon completion of debt restructuring projects</li>
                            <li>Advising on over USD 200 million in fund raising projects</li>
                            <li>Lead Partner transaction support in connection with the acquisition by a London (UK) listed company of the largest operating coal mines in Indonesia with a total acquisition of value USD 3 billion. Services provided included valuation of derivative instruments, adoption of International Financial Reporting Standards (IFRS), premium listing (FTSE 100) support, project management, problem solving and liaison with London and Jakarta based international accounting firms</li>
                            <li>Advising the largest telecommunication company in Indonesia on the acquisition of businesses in information, media, edutainment and service sectors with a total value of USD 100 million</li>
                            <li>Numerous audit assurance projects in Indonesia and Australia including PT Pertamina (Persero), Coca-Cola, ConocoPhilips, and Hewlett-Packard</li>
                        </ul>
                        <h4 class="text-green">Qualifications and Memberships</h4>
                        <ul class="leadership-list">
                            <li>MBA issued jointly by Kellogg School of Management, Northwestern University and the Hong Kong University of Science and Technology</li>
                            <li>Bachelor of Economics majoring in Accounting – Trisakti University, Indonesia</li>
                            <li>Chartered Accountant, Australia</li>
                            <li>Audit Committee of Public Listed Companies in Indonesia</li>
                            <li>Independent Commissioner of a Public Listed Company in Indonesia</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="lf" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#lf">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/lf_profile.jpg" />
                </a>
                <address class="text-center">
                    <span class="p-txt">Luke Furler</span>
                    <br/>
                    <p class="p-txt-desc">Partner<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="lf">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#lf" data-toggle="collapse" type="button">Close</button>
                        </p>

                        <h4 class="text-green">Experience</h4>
                        <p>Luke has been described in Who’s Who Legal as an expert in complex restructuring cases, highly praised for his dynamic and strategic mindset whose excellent reputation is a reflection of his work. His commitment to driving an outcome in complex cases marks him as a leader in restructuring and insolvency.
                        </p>
                        <p>Based in Singapore since 2013, his experience spans the major Asian and global markets where he has built an enviable reputation for timely, direct and commercial advice to his clients in difficult situations.
                        </p>
                        <p>Luke has gained the trust of his clients to tackle complex engagements that often require an unconventional approach and the ability to quickly provide recommendations, make decisions and implement an agreed plan.
                        </p>
                        <h4 class="text-green">Awards and Recognition</h4>
                        <ul class="leadership-list">
                            <li>Who’s Who Legal`</li>
                            <li>Restructuring and Insolvency Expert (2018, 2017)</li>
                            <li>Global Restructuring Review</li>
                            <li>Names to Know in Singapore (2018)</li>
                            <li>Most Important Cross Border Recognition (Re: Diablo Fortune. 2018)</li>
                            <li>Most Significant Insolvency Related Litigation (Re: Zetta Jet, 2018)</li>
                            <li>New Insolvency Advisors 2016</li>
                        </ul>
                        <h4 class="text-green">Qualifications and Memberships</h4>
                        <ul class="leadership-list">
                            <li>Approved Liquidator, Singapore</li>
                            <li>Chartered Accountant, Australia and New Zealand</li>
                            <li>Certified Public Accountant, Hong Kong</li>
                            <li>Master of Accounting, Curtin University of Australia</li>
                            <li>Bachelor of Science (Psychology), University of Western Australia</li>
                            <li>Turnaround Management Association (TMA), Director</li>
                            <li>Singapore Institute of Directors, Member</li>
                            <li>Insolvency Practitioners Association of Singapore, Member</li>
                            <li>Australian Restructuring, Insolvency and Turnaround Association, Member</li>
                            <li>INSOL International, Member</li>

                            <li>American Bankruptcy Institute, Member</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="dn" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#dn">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/dn_profile.jpg" />
                </a>

                <address class="text-center">
                    <span class="p-txt">Dessi Natalegawa</span>
                    <br/>
                    <p class="p-txt-desc">Partner<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="dn">
            <div class="row">

                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class=" text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#dn" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Mr. Natalegawa is a Senior Banker with extensive experience in origination, debt/equity capital market and M&A. He has extensive experiences in the intricacies of start-ups, new business initiatives and troubleshooting where he has proven his leadership in organization, risk management, process execution, as well as developing and motivating teams to achieve the right objectives.</p>
                        <p>He also has broad contacts in private and government sectors, and in investment and commercial banking communities (both local and abroad).</p>
                        <h4 class="text-green">Experience</h4>
                        <p>Mr. Natalegawa has proven expertise in corporate finance and financial advisory both in state-owned enterprises, and private corporate sector for over 20 years.
                        </p>
                        <p>His experience includes:</p>
                        <ul class="leadership-list">
                            <li>Acquisition of three major coal contracts of works (CCOW) companies and two Kuasa Pertambangan(KP) over the course of 2010 to 2012, and the establishment of a new franchise</li>
                            <li>As Managing Director at Framework Capital Solutions, a boutique financial advisory firm based in Singapore, undertook fund raising and loan work exercises on Indonesian corporates</li>
                            <li>As Managing Director at Lehman Brother’s Principal investment and Special Situation group covering Asia, successfully closed new equity/quasi equity investment instrument and loans including high yield with major Indonesian corporates. Some of the exercises involved loan take out and restructuring</li>
                            <li>Established Renaissance Capital Asia and the management of this boutique financial advisory firm which were mandated and successfully executed various major advisory (fund raising, asset disposal, distress debt, and loan workout) transactions in Indonesia</li>
                            <li>As President Director at Deloitte & Touche Financial Advisory Services, mandated and worked on advisory work including asset sales and sell-side advisory (including the largest listed private bank in Indonesia), and various major loan workout transactions</li>
                            <li>In Kiani Wirudha, providing the leadership that led to the successful consolidation of 30 companies under a single holding company, and the coordination for the spin off/sell down activities involving these companies</li>
                            <li>While at Citicorp Hong Kong, successfully arranged three major fund raising transactions including one major project financing transaction for Indonesian state-owned oil company</li>
                        </ul>
                        <br/>
                        <h4 class="text-green">Qualifications</h4>
                        <ul class="leadership-list">
                            <li>Bachelor degree in Economics from Queen Mary College, London University, UK</li>
                            <li>Master of Philosophy and Doctor of Philosophy degree in Economics from Jesus College, Oxford University, UK</li>
                            <li>Vice Chairman of the Indonesian Chambers of Commerce (KADIN)</li>
                            <li>Ex-officio Vice Chairman of the Indonesian, British and Western European Committee Chamber of Commerce (KADIN for UK and Western Europe)</li>
                            <li>Member of Indonesian Economist Association (ISEI), Banking and Capital Market Division</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="sc" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#sc">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/susana_profile.jpg" /></a>

                <address class="text-center">
                    <span class="p-txt">Susana Cassandra</span>
                    <br/>
                    <p class="p-txt-desc">Manager<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="sc">
            <div class="row" style="margin: 0px auto;">
                <div class="col-md-12">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div classclass="col-md-12">
                    <div class="text-cv">
                        <p>
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#sc" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Susana has been involved in various debt restructuring, distressed debt due diligence, M&A, and complex valuation engagements. Prior to joining AJCapital, she worked at Citibank where she supported senior retail & SME relationship managers in building, managing, and maintaining professional relationship with clients.</p>
                        <h4 class="text-green">Experience</h4>
                        <p>Her experience includes:</p>
                        <ul class="leadership-list">
                            <li>Assisted the largest state-owned oil & gas company on the sale of its subsidiary with a potential transaction value of USD 1.5-3 billion.</li>
                            <li>Advised the acquisition process of one of four private switching/payment gateway companies as a sell-side advisor.</li>
                            <li>Due diligence work on a distressed debt portfolio of a local bank amounted to face value of IDR 2 trillion with objective to determine an appropriate bid price.</li>
                            <li>Assisted the rights issue registration process of one of the largest listed coal mining companies in Indonesia, as part of the implementation of its restructuring agreement.</li>
                            <li>Delivered a complex valuation work for a contingent claim instrument, which is triggered by average future commodity price.</li>
                            <li>Advised in the ongoing restructuring of the largest Indonesian offshore drilling company on their syndicated and bilateral bank loan with duty care to the lenders. Assignments involved due diligence, financial modeling and restructuring options development.
                            </li>
                        </ul>
                        <h4 class="text-green">Qualifications</h4>
                        <ul class="leadership-list">
                            <li>Bachelor’s Degree in Finance from Universitas Pelita Harapan, Indonesia</li>
                            <li>Passed CFA Level II in 2018.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="mg" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#mg">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/michael_profile.jpg" />
                </a>

                <address class="text-center">
                    <span class="p-txt">Michael Gunawan</span>
                    <br/>
                    <p class="p-txt-desc">Manager<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="mg">
            <div class="row" style="margin: 0px auto;">
                <div class="col-md-12" style="margin: 0px auto;">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div classclass="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#mg" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Michael joined AJCapital in 2017 and has been highly involved in several voluntary and court supervised restructuring engagements as well as transaction execution in Indonesia.  He has been involved in various complex interplay among the interest of conflicting stakeholders, where a necessarily complex deal structure was formulated.</p>
                        <h4 class="text-green">Experience</h4>
                        <p>Working together with different legal and financial counterparties as well as investors to work out a viable restructuring plan and turnaround management under a highly intensive deadline has allowed him to develop the ability to be versatile and agile in his advisory capacity.
                        </p>
                        <p>In addition, he has also been involved in various post-restructuring implementation initiatives including cash monitoring as well as advising a corporate strategy to maximize potential values for shareholders in various industries such as oil & gas, mining, and packaging.
                        </p>
                        <p>His experience includes:</p>
                        <ul class="leadership-list">
                            <li>Advising on 4 PKPU cases in packaging and telecommunication industry with the total value of USD 650 million in Indonesia.</li>
                            <li>Advising on voluntary restructuring on gas processing company and smart card manufacturer in Indonesia with the total value of USD 200 million.</li>
                            <li>Advising on an acquisition plan of a distressed smart card solution company.</li>
                        </ul>
                        <h4 class="text-green">Qualifications</h4>
                        <ul class="leadership-list">
                            <li>Bachelor of Economics majoring in Finance – Prasetiya Mulya University, Indonesia</li>
                            <li>Passed CFA Level II in 2018.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="ic" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#ic">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/ivan_profile.jpg" /></a>

                <address class="text-center">
                    <span class="p-txt">Ivan Ciptadi</span>
                    <br/>
                    <p class="p-txt-desc">Manager<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="ic">
            <div class="row" style="margin: 0px auto;">
                <div class="col-md-12" style="margin: 0 auto;">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>

            </div>
            <div class="row">
                <div classclass="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#ic" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Ivan is a Manager with experience in debt & equity capital market and M&A. Ivan has experiences in managing debt issuance and fund raising through domestic and international offering transactions, as well as financial advisory related transactions.</p>
                        <h4 class="text-green">Experience</h4>
                        <p>Ivan has over 4 years experience in financial industry in Indonesia. Prior to joining AJCapital Advisory, he was with RHB Investment Bank and actively involved in conducting debt, domestic and international offering transactions, also providing advice for Pre-IPO advisory, mergers & acquisitions transactions, restructuring and fund-raising deals for various industries, including but not limited to manufacturing, telecoms, property and multi finance.
                        </p>
                        <p>His experience includes:
                        </p>
                        <ul class="leadership-list">
                            <li>Managed and involved in Initial Public Offering for Indonesian companies with total fund raise of IDR1.4 trillion.
                            </li>
                            <li>Managed and involved in bonds issuance of banking and multi-finance companies with total bonds issued of IDR8.4 trillion.</li>
                            <li>Managed and involved in rights issuance of leisure and banking companies with total issuance of IDR 1,6 trillion.</li>
                            <li>Advising on Pre-IPO, M&A and fund raising projects for companies in Indonesia.
                            </li>
                        </ul>
                        <h4 class="text-green">Qualifications</h4>
                        <ul class="leadership-list">
                            <li>Bachelor degree in Economics from Tarumanagara University, Indonesia</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="zx" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#zx">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/zara_profile.jpg" /></a>

                <address class="text-center">
                    <span class="p-txt">Zara Xue</span>
                    <br/>
                    <p class="p-txt-desc">Senior Associate<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="zx">
            <div class="row" style="margin: 0px auto;">
                <div class="col-md-12">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>

            </div>
            <div class="row">
                <div classclass="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#zx" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Zara is a Senior Associate based in Singapore and is responsible for turnaround and restructuring services in and around the Asia-Pacific region.  Since 2016, she has been involved in various restructuring, performance improvement and insolvency activities in mostly Singapore and Indonesia.
                        </p>
                        <h4 class="text-green">Experience</h4>
                        <p>During her career, Zara has been involved in a number of contentious liquidation appointments which allows her to develop an ability to work efficiently with legal counsel to generate maximum value for her clients under time pressure. She also has experience in creditor management including structuring of repayment plans as well as other specialised areas within distressed advisory including stakeholder management and day to day monitoring of operations.
                        </p>

                        <p>Zara also has experience in scheme of arrangement, voluntary and court appointed liquidation in various industries such as energy, marine, manufacturing and retail</p>
                        <h4 class="text-green">Qualifications</h4>
                        <ul class="leadership-list">
                            <li>Bachelor of Economics, Queensland University of Technology, Australia</li>
                            <li>Bachelor of Business Management (Major in Finance), Queensland University of Technology, Australia</li>

                            <li>Mensa Singapore</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a aria-controls="sl" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#sl">
                    <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/stephanie_profile.jpg" /></a>
                <address class="text-center">
                    <span class="p-txt">Stephani Lucia</span>
                    <br/>
                    <p class="p-txt-desc">Senior Associate<br/></p>
                </address>
            </div>
        </div>
        <div class="collapse" id="sl">
            <div class="row" style="margin: 0px auto;">
                <div class="col-md-12" style="margin: 0 auto;">
                    <h2 class="text-center text-green">
                        <i class="fa fa-chevron-up"></i>
                    </h2>
                </div>

            </div>
            <div class="row">
                <div classclass="col-md-12">
                    <div class="text-cv">
                        <p style="">
                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#sl" data-toggle="collapse" type="button">Close</button>
                        </p>
                        <h4 class="text-green">Background</h4>
                        <p>Stephani started her career as an Associate in AJCapital since 2015. She has been involved in various types of industries such as health care, manufacturing, properties, packaging, and telecommunication.</p>
                        <h4 class="text-green">Experience</h4>
                        <p>Stephani has been working closely with client’s management team, other legal and financial advisors, and also investors to work out a business plan development, transactions execution, as well as voluntary and court-supervised restructuring.
                        </p>
                        <p>Her experience includes:
                        </p>
                        <ul class="leadership-list">
                            <li>Advised on medium and long term strategic plan and development, as well as corporate restructurings strategy of the largest specialist clinic in Indonesia.</li>
                            <li>Assisted fund raising process including managing due diligence of the largest specialist clinic in Indonesia with a potential investor.</li>
                            <li>Developed business plan for the first integrated coal processing industrial park in Indonesia.</li>
                            <li>Advised on 3 PKPU cases in the packaging industry with a total value of IDR 5.5 trillion.</li>
                            <li>Advised on the voluntary restructuring of a gas processing company and a smart card manufacturer in Indonesia with a combined total value of USD 200 million.</li>

                        </ul>
                        <h4 class="text-green">Qualifications</h4>
                        <ul class="leadership-list">
                            <li>Bachelor degree in Economics and Business from Padjadjaran University, Indonesia</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-none d-md-block">
        <div id="leadership">
            <div class="row">
                <div class="col-md-3">
                    <a aria-controls="gs" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#gs">
                        <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/gs_profile.jpg" />
                    </a>

                    <address class="text-center">
                        <span class="p-txt">
                            Geoffrey D. Simms</span>
                        <br/>
                        <p class="p-txt-desc">CEO and Partner</p>
                    </address>
                </div>
                <div class="col-md-3">
                    <a aria-controls="fa" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#fa">
                        <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/alip_profile.jpg" /></a>

                    <address class="text-center">
                        <span class="p-txt">Fransiscus Alip</span>
                        <br/>
                        <p class="p-txt-desc">Partner</p>
                    </address>
                </div>
                <div class="col-md-3">
                    <a aria-controls="lf" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#lf">
                        <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/lf_profile.jpg" /></a>

                    <address class="text-center">
                        <span class="p-txt">Luke Furler</span>
                        <br/>
                        <p class="p-txt-desc">Partner<br/></p>
                    </address>
                </div>
                <div class="col-md-3">
                    <a aria-controls="dn" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#dn">
                        <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/dn_profile.jpg" /></a>

                    <address class="text-center">
                        <span class="p-txt">Dessi Natalegawa</span>
                        <br/>
                        <p class="p-txt-desc">Partner<br/></p>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="gs">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="text-center text-green">
                                    <i class="fa fa-chevron-up"></i>
                                </h2>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="row">
                            <div classclass="col-md-12">
                                <div class="text-cv">
                                    <p style="">
                                        <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-parent="#leadership" data-target="#gs" data-toggle="collapse" type="button">Close</button>
                                    </p>
                                    <h4 class="text-green">Background</h4>
                                    <p>Geoff Simms, the CEO and Founder of AJCapital, has over 30 years of experience within finance, restructuring and strategy in Asia Pacific. Geoff has covered extensively banking and finance, telecom, petrochemical, property and resource sectors.
                                    </p>
                                    <h4 class="text-green">Experience</h4>
                                    <p>Geoff has been active in debt and corporate restructurings in Indonesia, managing numerous court supervised processes (“PKPU”) as well voluntary out of court processes.  Such work included PT Trans Pacific Petrochemical Indotama, PT Bumi Resources Tbk and PT Ciputra Developments Tbk.  He advised the Indonesian Debt Restructuring Agency on the disposal of NPL portfolios, and has conducted a number forensic assignments.
                                    </p>
                                    <p>Geoff has been involved with:</p>
                                    <ul class="leadership-list">
                                        <li>Advising on over USD 4 billion in debt and corporate restructurings in the petrochemical sector in Indonesia</li>
                                        <li>Advising on over USD 11 billion in PKPU debt restructuring proceedings in Indonesia</li>
                                        <li>Advising on over USD 9 billion in M&A transactions in Indonesia including Lead Partner advising PT Pertamina (Persero) on M&A transactions in the gas and petrochemical sector</li>
                                        <li>Development and project management of a roll up strategy in the telecommunications tower sector funded by a major international PE fund</li>
                                        <li>Advising on first US SEC registered and NASDAQ listed Indonesian public company</li>
                                        <li>Numerous domestic and overseas bond issuances including some of the first Yankee and SEC registered transactions out of Indonesia</li>
                                    </ul>

                                    <h4 class="text-green">Qualifications and Memberships</h4>
                                    <ul class="leadership-list">
                                        <li>B.Comm University of British Columbia</li>
                                        <li>MBA issued jointly by Kellogg School of Management, Northwestern University and the Hong Kong University of Science and Technology</li>
                                        <li>Chartered Professional Accountant, Canada</li>
                                        <li>Chartered Financial Analyst</li>
                                        <li>Fellow INSOL International</li>
                                        <li>Founding Board Member of the Indonesian CFA Society</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="fa">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <h2 class="text-center text-green">
                                    <i class="fa fa-chevron-up"></i>
                                </h2>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="row">
                            <div classclass="col-md-12">
                                <div class="text-cv">
                                    <p style="">
                                        <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#fa" data-toggle="collapse" type="button">Close</button>
                                    </p>
                                    <h4 class="text-green">Background</h4>
                                    <p>Fransiscus Alip, a Partner and Co-Founder of AJCapital Advisory, main focus is on cross border transactions, corporate and debt restructurings and fund raisings with diverse multi-cultural stakeholders. He is often brought into situations to liaise, manage and resolve issues between locals and foreigners.
                                    </p>
                                    <h4 class="text-green">Experience</h4>
                                    <p>Alip has over 20 years of experience within the finance, strategy and audit assurance area in Indonesia, Australia and Asia Pacific. He was with EY for 9 years in the audit assurance sector including 4 years in EY Sydney office. Industrial sectors Alip has covered include oil and gas, telecoms, media and technology, petrochemicals, consumers and resources.
                                    </p>
                                    <p>Alip has been involved with:</p>
                                    <ul class="leadership-list">
                                        <li>Advising on over USD 10 billion in PKPU debt restructuring proceedings in the telecoms, petrochemicals, tea plantation, and resources sector, including Co-Lead Partner advising BOD of PT Trans Pacific Petrochemical Indotama on the restructuring of over USD 2 billion in debt</li>
                                        <li>Appointed as independent financial advisor in the Jakarta Commercial Court on few PKPU debt restructuring proceedings</li>
                                        <li>Appointed as Monitoring Accountant by bank creditors upon completion of debt restructuring projects</li>
                                        <li>Advising on over USD 200 million in fund raising projects</li>
                                        <li>Lead Partner transaction support in connection with the acquisition by a London (UK) listed company of the largest operating coal mines in Indonesia with a total acquisition of value USD 3 billion. Services provided included valuation of derivative instruments, adoption of International Financial Reporting Standards (IFRS), premium listing (FTSE 100) support, project management, problem solving and liaison with London and Jakarta based international accounting firms</li>
                                        <li>Advising the largest telecommunication company in Indonesia on the acquisition of businesses in information, media, edutainment and service sectors with a total value of USD 100 million</li>
                                        <li>Numerous audit assurance projects in Indonesia and Australia including PT Pertamina (Persero), Coca-Cola, ConocoPhilips, and Hewlett-Packard</li>
                                    </ul>
                                    <h4 class="text-green">Qualifications and Memberships</h4>
                                    <ul class="leadership-list">
                                        <li>MBA issued jointly by Kellogg School of Management, Northwestern University and the Hong Kong University of Science and Technology</li>
                                        <li>Bachelor of Economics majoring in Accounting – Trisakti University, Indonesia</li>
                                        <li>Chartered Accountant, Australia</li>
                                        <li>Audit Committee of Public Listed Companies in Indonesia</li>
                                        <li>Independent Commissioner of a Public Listed Company in Indonesia</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="lf">
                        <div class="row">

                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <h2 class="text-center text-green">
                                    <i class="fa fa-chevron-up"></i>
                                </h2>
                            </div>
                            <div class="col-md-3"></div>

                        </div>
                        <div class="row">
                            <div classclass="col-md-12">
                                <div class="text-cv">
                                    <p style="">
                                        <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#lf" data-toggle="collapse" type="button">Close</button>
                                    </p>
                                    <h4 class="text-green">Experience</h4>
                                    <p class="justifying">Luke has been described in Who’s Who Legal as an expert in complex restructuring cases, highly praised for his dynamic and strategic mindset whose excellent reputation is a reflection of his work. His commitment to driving an outcome in complex cases marks him as a leader in restructuring and insolvency.
                                    </p>
                                    <p class="justifying">Based in Singapore since 2013, his experience spans the major Asian and global markets where he has built an enviable reputation for timely, direct and commercial advice to his clients in difficult situations.
                                    </p>
                                    <p class="justifying">Luke has gained the trust of his clients to tackle complex engagements that often require an unconventional approach and the ability to quickly provide recommendations, make decisions and implement an agreed plan.</p>
                                    <h4 class="text-green">Awards and Recognition</h4>
                                    <ul class="leadership-list">
                                        <li>Who’s Who Legal
                                        </li>
                                        <li>Restructuring and Insolvency Expert (2018, 2017)</li>
                                        <li>Global Restructuring Review</li>
                                        <li>Names to Know in Singapore (2018)
                                        </li>
                                        <li>Most Important Cross Border Recognition (Re: Diablo Fortune. 2018)</li>
                                        <li>Most Significant Insolvency Related Litigation (Re: Zetta Jet, 2018)</li>
                                        <li>New Insolvency Advisors 2016</li>
                                    </ul>
                                    <h4 class="text-green">Qualifications and Memberships</h4>
                                    <ul class="leadership-list">
                                        <li>Approved Liquidator, Singapore</li>
                                        <li>Chartered Accountant, Australia and New Zealand</li>
                                        <li>Certified Public Accountant, Hong Kong</li>
                                        <li>Master of Accounting, Curtin University of Australia</li>
                                        <li>Bachelor of Science (Psychology), University of Western Australia</li>
                                        <li>Turnaround Management Association (TMA), Director</li>
                                        <li>Singapore Institute of Directors, Member</li>
                                        <li>Insolvency Practitioners Association of Singapore, Member</li>
                                        <li>Australian Restructuring, Insolvency and Turnaround Association, Member</li>
                                        <li>INSOL International, Member
                                        </li>
                                        <li>American Bankruptcy Institute, Member</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="dn">
                        <div class="row">

                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <h2 class="text-center text-green">
                                    <i class="fa fa-chevron-up"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div classclass="col-md-12">
                                <div class="text-cv">
                                    <p style="">
                                        <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#dn" data-toggle="collapse" type="button">Close</button>
                                    </p>
                                    <h4 class="text-green">Background</h4>
                                    <p>Mr. Natalegawa is a Senior Banker with extensive experience in origination, debt/equity capital market and M&A. He has extensive experiences in the intricacies of start-ups, new business initiatives and troubleshooting where he has proven his leadership in organization, risk management, process execution, as well as developing and motivating teams to achieve the right objectives.</p>
                                    <p>He also has broad contacts in private and government sectors, and in investment and commercial banking communities (both local and abroad).</p>
                                    <h4 class="text-green">Experience</h4>
                                    <p>Mr. Natalegawa has proven expertise in corporate finance and financial advisory both in state-owned enterprises, and private corporate sector for over 20 years.
                                    </p>
                                    <p>His experience includes:</p>
                                    <ul class="leadership-list">
                                        <li>Acquisition of three major coal contracts of works (CCOW) companies and two Kuasa Pertambangan(KP) over the course of 2010 to 2012, and the establishment of a new franchise</li>
                                        <li>As Managing Director at Framework Capital Solutions, a boutique financial advisory firm based in Singapore, undertook fund raising and loan work exercises on Indonesian corporates</li>
                                        <li>As Managing Director at Lehman Brother’s Principal investment and Special Situation group covering Asia, successfully closed new equity/quasi equity investment instrument and loans including high yield with major Indonesian corporates. Some of the exercises involved loan take out and restructuring</li>
                                        <li>Established Renaissance Capital Asia and the management of this boutique financial advisory firm which were mandated and successfully executed various major advisory (fund raising, asset disposal, distress debt, and loan workout) transactions in Indonesia</li>
                                        <li>As President Director at Deloitte & Touche Financial Advisory Services, mandated and worked on advisory work including asset sales and sell-side advisory (including the largest listed private bank in Indonesia), and various major loan workout transactions</li>
                                        <li>In Kiani Wirudha, providing the leadership that led to the successful consolidation of 30 companies under a single holding company, and the coordination for the spin off/sell down activities involving these companies</li>
                                        <li>While at Citicorp Hong Kong, successfully arranged three major fund raising transactions including one major project financing transaction for Indonesian state-owned oil company</li>
                                    </ulclass="leadership-list">
                                    <br/>
                                    <h4 class="text-green">Qualifications</h4>
                                    <ul>
                                        <li>Bachelor degree in Economics from Queen Mary College, London University, UK</li>
                                        <li>Master of Philosophy and Doctor of Philosophy degree in Economics from Jesus College, Oxford University, UK</li>
                                        <li>Vice Chairman of the Indonesian Chambers of Commerce (KADIN)</li>
                                        <li>Ex-officio Vice Chairman of the Indonesian, British and Western European Committee Chamber of Commerce (KADIN for UK and Western Europe)</li>
                                        <li>Member of Indonesian Economist Association (ISEI), Banking and Capital Market Division</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row" style="margin: 0px auto;">
                <div class="col" style="width: 10rem;background-color: transparent !important;border:0px;">
                    <a aria-controls="sc" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#sc">
                        <img alt="" class="leader-link rounded-circle mg-left" src="{{ base_url() }}/assets/img/leadership/susana_profile.jpg" />
                    </a>

                    <address class="text-center">
                        <span class="p-txt">Susana Cassandra</span>
                        <br/>
                        <p class="p-txt-desc">Manager<br/></p>
                    </address>
                </div>
                <div class="col" style="width: 10rem;background-color: transparent !important;border:0px;">
                    <a aria-controls="mg" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#mg">
                        <img alt="" class="leader-link rounded-circle mx-auto d-block" src="{{ base_url() }}/assets/img/leadership/michael_profile.jpg" />
                    </a>

                    <address class="text-center">
                        <span class="p-txt">Michael Gunawan</span>
                        <br/>
                        <p class="p-txt-desc">Manager<br/></p>
                    </address>
                </div>
                <div class="col" style="width: 10rem;background-color: transparent !important;border:0px;">
                    <a aria-controls="ic" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#ic">
                        <img alt="" class="leader-link rounded-circle" src="{{ base_url() }}/assets/img/leadership/ivan_profile.jpg" />
                    </a>

                    <address class="text-center">
                        <span class="p-txt">Ivan Ciptadi</span>
                        <br/>
                        <p class="p-txt-desc">Manager<br/></p>
                    </address>
                </div>
                <div class="col" style="width: 10rem;background-color: transparent !important;border:0px;">
                    <a aria-controls="zx" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#zx">
                        <img alt="" class="leader-link rounded-circle mg-left" src="{{ base_url() }}/assets/img/leadership/zara_profile.jpg" />
                    </a>

                    <address class="text-center">
                        <span class="p-txt">Zara Xue</span>
                        <br/>
                        <p class="p-txt-desc">Senior Associate<br/></p>
                    </address>
                </div>
                <div class="col" style="width: 10rem;background-color: transparent !important;border:0px;">
                    <a aria-controls="sl" aria-expanded="true" data-parent="#leadership" data-toggle="collapse" href="#sl">
                        <img alt="" class="leader-link rounded-circle" src="{{ base_url() }}/assets/img/leadership/stephanie_profile.jpg" />
                    </a>

                    <address class="text-center">
                        <span class="p-txt">Stephani Lucia</span>
                        <br/>
                        <p class="p-txt-desc">Senior Associate<br/></p>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="sc">
                        <div class="row" style="margin: 0px auto;">

                            <div class="col">
                                <h2 class="text-center text-green">
                                    <i class="fa fa-chevron-up"></i>
                                </h2>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>

                        </div>
                        <div class="row">
                            <div classclass="col-md-12">
                                <div class="text-cv">
                                    <p style="">
                                        <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#sc" data-toggle="collapse" type="button">Close</button>
                                    </p>
                                    <h4 class="text-green">Background</h4>
                                    <p>Susana has been involved in various debt restructuring, distressed debt due diligence, M&A, and complex valuation engagements. Prior to joining AJCapital, she worked at Citibank where she supported senior retail & SME relationship managers in building, managing, and maintaining professional relationship with clients.
                                        <h4 class="text-green">Experience</h4>
                                        <p>Her experience includes:</p>
                                        <ul class="leadership-list">
                                            <li>Assisted the largest state-owned oil & gas company on the sale of its subsidiary with a potential transaction value of USD 1.5-3 billion.
                                            </li>
                                            <li>Advised the acquisition process of one of four private switching/payment gateway companies as a sell-side advisor.</li>
                                            <li>Due diligence work on a distressed debt portfolio of a local bank amounted to face value of IDR 2 trillion with objective to determine an appropriate bid price.</li>
                                            <li>Assisted the rights issue registration process of one of the largest listed coal mining companies in Indonesia, as part of the implementation of its restructuring agreement.</li>
                                            <li>Delivered a complex valuation work for a contingent claim instrument, which is triggered by average future commodity price.
                                            </li>
                                            <li>Advised in the ongoing restructuring of the largest Indonesian offshore drilling company on their syndicated and bilateral bank loan with duty care to the lenders. Assignments involved due diligence, financial modeling and restructuring options development.
                                            </li>
                                        </ul>
                                        <h4 class="text-green">Qualifications</h4>
                                        <ul class="leadership-list">
                                            <li>Bachelor’s Degree in Finance from Universitas Pelita Harapan, Indonesia</li>
                                            <li>Passed CFA Level II in 2018.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="collapse" id="mg">
                            <div class="row" style="margin: 0px auto;">
                                <div class="col"></div>
                                <div class="col" style="margin: 0px auto;">
                                    <h2 class="text-center text-green">
                                        <i class="fa fa-chevron-up"></i>
                                    </h2>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>

                            </div>
                            <div class="row">
                                <div classclass="col-md-12">
                                    <div class="text-cv">
                                        <p style="">
                                            <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#mg" data-toggle="collapse" type="button">Close</button>
                                        </p>
                                        <h4 class="text-green">Background</h4>
                                        <p>Michael joined AJCapital in 2017 and has been highly involved in several voluntary and court supervised restructuring engagements as well as transaction execution in Indonesia.  He has been involved in various complex interplay among the interest of conflicting stakeholders, where a necessarily complex deal structure was formulated.</p>
                                        <h4 class="text-green">Experience</h4>
                                        <p>Working together with different legal and financial counterparties as well as investors to work out a viable restructuring plan and turnaround management under a highly intensive deadline has allowed him to develop the ability to be versatile and agile in his advisory capacity.
                                        </p>
                                        <p>In addition, he has also been involved in various post-restructuring implementation initiatives including cash monitoring as well as advising a corporate strategy to maximize potential values for shareholders in various industries such as oil & gas, mining, and packaging.
                                        </p>
                                    </p>His experience includes:</p>
                                <ul class="leadership-list">
                                    <li>Advising on 4 PKPU cases in packaging and telecommunication industry with the total value of USD 650 million in Indonesia.</li>
                                    <li>Advising on voluntary restructuring on gas processing company and smart card manufacturer in Indonesia with the total value of USD 200 million.</li>
                                    <li>Advising on an acquisition plan of a distressed smart card solution company.</li>
                                </ul>
                                <h4 class="text-green">Qualifications</h4>
                                <ul class="leadership-list">
                                    <li>Bachelor of Economics majoring in Finance – Prasetiya Mulya University, Indonesia</li>
                                    <li>Passed CFA Level II in 2018.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="ic">
                    <div class="row" style="margin: 0px auto;">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col" style="margin: 0 auto;">
                            <h2 class="text-center text-green">
                                <i class="fa fa-chevron-up"></i>
                            </h2>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>

                    </div>
                    <div class="row">
                        <div classclass="col-md-12">
                            <div class="text-cv">
                                <p style="">
                                    <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#ic" data-toggle="collapse" type="button">Close</button>
                                </p>
                                <h4 class="text-green">Background</h4>
                                <p>Ivan is a Manager with experience in debt & equity capital market and M&A. Ivan has experiences in managing debt issuance and fund raising through domestic and international offering transactions, as well as financial advisory related transactions.</p>
                                <h4 class="text-green">Experience</h4>
                                <p>Ivan has over 4 years experience in financial industry in Indonesia. Prior to joining AJCapital Advisory, he was with RHB Investment Bank and actively involved in conducting debt, domestic and international offering transactions, also providing advice for Pre-IPO advisory, mergers & acquisitions transactions, restructuring and fund-raising deals for various industries, including but not limited to manufacturing, telecoms, property and multi finance.
                                </p>
                                <p>His experience includes:
                                </p>
                                <ul class="leadership-list">
                                    <li>Managed and involved in Initial Public Offering for Indonesian companies with total fund raise of IDR1.4 trillion.
                                    </li>
                                    <li>Managed and involved in bonds issuance of banking and multi-finance companies with total bonds issued of IDR8.4 trillion.</li>
                                    <li>Managed and involved in rights issuance of leisure and banking companies with total issuance of IDR 1,6 trillion.</li>
                                    <li>Advising on Pre-IPO, M&A and fund raising projects for companies in Indonesia.
                                    </li>
                                </ul>
                                <h4 class="text-green">Qualifications</h4>
                                <ul class="leadership-list">
                                    <li>Bachelor degree in Economics from Tarumanagara University, Indonesia</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="zx">
                    <div class="row" style="margin: 0px auto;">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col" style="margin: 0 auto;">
                            <h2 class="text-center text-green">
                                <i class="fa fa-chevron-up"></i>
                            </h2>
                        </div>
                        <div class="col"></div>

                    </div>
                    <div class="row">
                        <div classclass="col-md-12">
                            <div class="text-cv">
                                <p style="">
                                    <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#zx" data-toggle="collapse" type="button">Close</button>
                                </p>
                                <h4 class="text-green">Background</h4>
                                <p>Zara is a Senior Associate based in Singapore and is responsible for turnaround and restructuring services in and around the Asia-Pacific region.  Since 2016, she has been involved in various restructuring, performance improvement and insolvency activities in mostly Singapore and Indonesia.
                                </p>
                                <h4 class="text-green">Experience</h4>
                                <p>During her career, Zara has been involved in a number of contentious liquidation appointments which allows her to develop an ability to work efficiently with legal counsel to generate maximum value for her clients under time pressure. She also has experience in creditor management including structuring of repayment plans as well as other specialised areas within distressed advisory including stakeholder management and day to day monitoring of operations.
                                </p>

                                <p>Zara also has experience in scheme of arrangement, voluntary and court appointed liquidation in various industries such as energy, marine, manufacturing and retail</p>
                                <h4 class="text-green">Qualifications</h4>
                                <ul class="leadership-list">
                                    <li>Bachelor of Economics, Queensland University of Technology, Australia</li>
                                    <li>Bachelor of Business Management (Major in Finance), Queensland University of Technology, Australia</li>

                                    <li>Mensa Singapore</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="sl">
                    <div class="row" style="margin: 0px auto;">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col" style="margin: 0 auto;">
                            <h2 class="text-center text-green">
                                <i class="fa fa-chevron-up"></i>
                            </h2>
                        </div>

                    </div>
                    <div class="row">
                        <div classclass="col-md-12">
                            <div class="text-cv">
                                <p style="">
                                    <button aria-expanded="true" class="btn btn-outline-green btn-sm float-right" data-target="#sl" data-toggle="collapse" type="button">Close</button>
                                </p>
                                <h4 class="text-green">Background</h4>
                                <p>Stephani started her career as an Associate in AJCapital since 2015. She has been involved in various types of industries such as health care, manufacturing, properties, packaging, and telecommunication.</p>
                                <h4 class="text-green">Experience</h4>
                                <p>Stephani has been working closely with client’s management team, other legal and financial advisors, and also investors to work out a business plan development, transactions execution, as well as voluntary and court-supervised restructuring.
                                </p>
                                <p>Her experience includes:</p>
                                <ul class="leadership-list">
                                    <li>Advised on medium and long term strategic plan and development, as well as corporate restructuring strategy of the largest specialist clinic in Indonesia.</li>
                                    <li>Assisted fund raising process including managing due diligence of the largest specialist clinic in Indonesia with a potential investor.</li>
                                    <li>Developed business plan for the first integrated coal processing industrial park in Indonesia.</li>
                                    <li>Advised on 3 PKPU cases in the packaging industry with a total value of IDR 5.5 trillion.</li>
                                    <li>Advised on the voluntary restructuring of a gas processing company and a smart card manufacturer in Indonesia with a combined total value of USD 200 million.</li>

                                </ul>
                                <h4 class="text-green">Qualifications</h4>
                                <ul class="leadership-list">
                                    <li>Bachelor degree in Economics and Business from Padjadjaran University, Indonesia</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}