{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <img src="{{ base_url() }}/assets/img/pages/services-ma.jpg" width="100%" alt="" />
            <p>&nbsp;</p>
            <h4>Transaksi</h4>
            <p>
                <strong>Penasihat M&A</strong>
            </p>
            <p>
                Kami membantu klien kami atas kebutuhan M&A baik dari sisi penjual dan
                                                                                                                                                                                                                                                                                                                                                                                                                      sisi pembeli. Sebuah komponen kunci transaksi dari kedua sisi tersebut
                                                                                                                                                                                                                                                                                                                                                                                                                      adalah proses penilaian. Sebagai profesional yang
                                                                                                                                                                                                                                                                                                                                                                                                                      berpengalaman, kami memiliki keahlian untuk mengidentifikasi dan
                                                                                                                                                                                                                                                                                                                                                                                                                      mengevaluasi faktor penggerak keuangan dan operasional yang utama. Selain itu,
                                                                                                                                                                                                                                                                                                                                                                                                                      kami memaksimalkan pengetahuan industri dengan pengalaman kami dalam
                                                                                                                                                                                                                                                                                                                                                                                                                      bidang audit, hukum, regulasi dan komunitas investor. Hal ini memastikan
                                                                                                                                                                                                                                                                                                                                                                                                                      klien kami memiliki informasi yang tepat agar dapat menilai dengan jelas
                                                                                                                                                                                                                                                                                                                                                                                                                      keputusan mereka dalam berbagai fase dalam proses tersebut.
            </p>
            <p>Jasa dari sisi penjual kami meliputi:</p>
            <ul>
                <li>
                    Uji tuntas/<i>due diligence</i>
                    pra-penjualan untuk menilai risiko dan potensi pasar untuk
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            memposisikan dan mempersiapkan perusahaan untuk proses penjualan
                </li>
                <li>
                    Mempertimbangkan cara terbaik untuk membentuk struktur penjualan agar
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            memperoleh hasil yang maksimal, mengelola risiko pajak dan meminimalkan
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            risiko
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    pihak terkait
                </li>
                <li>
                    Mempertimbangkan nilai perusahaan dan implikasinya terhadap struktur
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            modal
                </li>
                <li>
                    Memberi masukan secara aktif dan dini dalam mengidentifikasi isu-isu
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            penting dalam kesepakatan yang kemudian diintegrasikan ke dalam dokumen
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            transaksi, termasuk perjanjian jual beli, perjanjian pemegang saham,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            perjanjian layanan transisi dan perjanjian pasokan
                </li>
                <li>
                    Mengelola pengungkapan data sensitif perusahaan dan persiapan
                    <i>data room</i>
                </li>
                <li>
                    Menegosiasikan ketentuan-ketentuan utama dan janji-janji /<i>covenant</i>
                    dengan pembeli potensial, serta mengelola proses eksekusi dan
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            penyelesaian penjualan
                </li>
                <li>Mengatur dan berkoordinasi dengan tim profesional pendukung lainnya</li>
            </ul>
            <p>Jasa dari sisi pembeli meliputi :</p>
            <ul>
                <li>
                    Uji tuntas/<i>due diligence</i>
                    keuangan dan komersial dari sisi pembeli untuk menilai
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            risiko dan nilai potensial sehingga dapat sebaik mungkin menempatkan dan
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            mempersiapkan perusahaan untuk proses negosiasi dan atas dampak dari
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            akuisisi
                </li>
                <li>
                    Mempertimbangkan cara terbaik untuk membentuk struktur dan mendanai
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            proses akuisisi, mengelola risiko pajak dan meminimalkan risiko pihak terkait
                </li>
                <li>
                    Mempersiapkan proyeksi dan menilai nilai transaksi berkaitan secara
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            relatif terhadap nilai pasar perusahaan dan dampak pada struktur permodalan
                </li>
                <li>
                    Memberi masukan secara aktif dan dini dalam mengidentifikasi isu-isu
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            penting dalam kesepakatan yang kemudian diintegrasikan ke dalam dokumen
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            transaksi, termasuk perjanjian jual beli, perjanjian pemegang saham,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            perjanjian layanan transisi dan perjanjian pasokan
                </li>
                <li>
                    Mengumpulkan, interpretasi dan menilai data sensitif perusahaan
                </li>
                <li>
                    Menegosiasi ketentuan-ketentuan utama dan janji-janji/<i>covenant</i>
                    dengan
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                pembeli potensial, serta mengelola proses eksekusi dan penyelesaian penjualan
                </li>
                <li>Mengatur dan berkoordinasi dengan tim profesional pendukung lainnya</li>
                <li>
                    Mendukung dan berurusan dengan pengatur dan bursa ketika diperlukan
                </li>
            </ul>
            <p>
                <strong>Penggalangan Dana</strong>
            </p>
            <p>
                Kami membantu klien kami untuk mengevaluasi kebutuhan pendanaan mereka,
                                                                                                                                                                                                                                                                                                                                                                                                                          mengidentifikasi berbagai sumber dana yang tepat dan menggalang dana yang
                                                                                                                                                                                                                                                                                                                                                                                                                          diperlukan di keseluruhan struktur permodalan, mulai dari pendanaan modal kerja dan
                                                                                                                                                                                                                                                                                                                                                                                                                          utang senior berjaminan hingga utang subordinasi atau tak berjaminan dan
                                                                                                                                                                                                                                                                                                                                                                                                                          modal ekuitas.
            </p>
            <p>Jasa kami mencakup:</p>
            <ul>
                <li>Memberikan saran ahli tentang struktur permodalan</li>
                <li>
                    Penggalangan dana dari bank komersial, bank investasi,
                    <i>private equity</i>
                    atau investor strategis
                </li>
                <li>
                    Membuat surat edaran informasi dan materi pemasaran lainnya agar dapat
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                memposisikan perusahaan anda dengan tepat dan menciptakan ketertarikan
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                yang sesuai
                </li>
                <li>
                    Menegosiasikan ketentuan-ketentuan utama dan janji-janji/<i>covenant</i>
                    dengan calon pemberi dana, serta menegosiasikan kesepakatan
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                antar-kreditur
                </li>
                <li>
                    Mengelola proses pelaksanaan dan proses penyelesaian/<i>closing</i>
                    untuk
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                memastikan pembiayaan dan memaksimalkan nilai di masa depan
                </li>
            </ul>
            <p>&nbsp;</p>
            <div class="row" id="nav-studi-kasus">
                <div class="col-md-6">
                    <div class="box-casestudy">
                        <p>
                            <span style="font-size:12px;margin-top: 30px;float:left;">Studi Kasus</span>
                            <span><img alt="" src="{{base_url()}}/assets/img/logo/logo-transparent.png" style="float: right;" width="80px" /></span>
                        </p>
                        {% for rowow in page.data %}
                            {%if rowow.id == page.id %}
                                <p style="margin-top:100px;">
                                    <h3 class="text-green" style="letter-spacing:2px;font-weight: bolder;">{{rowow.header | raw }}</h3>
                                    <span style="font-size: 12px;">{{rowow.DateofClosing}}</span><br/><br/>
                                </p>
                                <div class="row" style="margin-top: 40px;">
                                    <div class="col-md-12">
                                        <a href="{{ base_url() }}/ID/layanan/{{page.service}}#nav-studi-kasus" class="btn btn-outline-green btn-sm" style="float:left;">Tutup</a>
                                        <h1 class="text-green text-right sc-detail-value" style="margin-top:0px;">{{rowow.Value}}</h1>
                                        <span class="text-green" style="font-weight:bolder: 16px;float:right;margin-top: -10px;">{{rowow.Saying}}</span>
                                    </div>
                                </div>
                                <dl class="row" style="margin-top: 40px;">
                                    <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Jenis Kasus
                                        <span class="float-right">:</span>
                                    </dt>
                                    <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.service | raw }}</dd>

                                    <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Judul
                                        <span class="float-right">:</span>
                                    </dt>
                                    <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.Title | raw }}</dd>

                                    <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Status
                                        <span class="float-right">:</span>
                                    </dt>
                                    <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{ rowow.DateofClosingMark}}</dd>

                                    <dt class="col-sm-4 text-truncate" style="font-size: 12px;color: #06832a;">Nilai
                                        <span class="float-right">:</span>
                                    </dt>
                                    <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.Value}}
                                        {{rowow.Saying}}</dd>
                                </dl>
                                <p>
                                    <h5 class="text-green" style="letter-spacing: 3px;margin-top:40px;font-weight: bold">IKHTISAR PROYEK</h5>
                                    <ul class="list-sm">
                                        {% for key,po in rowow.ProjectOverview %}
                                            <li>
                                                {{po.1 | raw }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <h5 class="text-green" style="letter-spacing: 3px;font-weight: bolder">ISU PROYEK</h5>
                                    <ul class="list-sm">
                                        {% for key,ci in rowow.ProjectIssues %}
                                            <li>
                                                {{ci.2 | raw }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <h5 class="text-green" style="letter-spacing: 3px;font-weight: bold;">APA YANG KAMI LAKUKAN</h5>
                                    <ul class="list-sm">
                                        {% for key,wwd in rowow.WhatWeDid %}
                                            <li>
                                                {{wwd.3 | raw }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <h5 class="text-green" style="letter-spacing: 3px;font-weight: bold">Hasil Proyek</h5>
                                    <ul class="list-sm">
                                        {% for key,pout in rowow.ProjectOutcome %}
                                            <li>
                                                {{pout.4 | raw }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <br/>
                                    <p class="text-center">
                                        <a href="{{ base_url() }}/ID/layanan/{{page.service}}#nav-studi-kasus" class="btn btn-outline-green btn-sm mx-auto ">Tutup</a>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            {% for data in page.data %}
                                {% if data.TypeofCase == page.service %}
                                    {% if data.id != page.id %}
                                        <div class="card" style="width: 25rem;margin: 12px;">
                                            <div class="card-body">
                                                <div class="title-case">
                                                    <span style="font-size:10px;float:left;margin-top:15px;">Studi Kasus</span>
                                                    <span><img alt="" src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png" style="float: right;margin-top: 0px;" width="70px" /></span>
                                                </div>
                                                <h5 class="card-title" style="margin-top:80px;margin-bottom: 0px;">
                                                    {{ data.header | raw }}
                                                </h5>
                                                <span style="font-size: 10px;">{{ data.DateofClosing }}</span><br/><br/>
                                                <p style="margin-top:20px;">
                                                    <span style="margin-top: 40px;">
                                                        <a href="{{ base_url() }}/ID/layanan/{{ page.service }}/{{ data.id }}#nav-studi-kasus" class="btn btn-outline-light btn-sm">Baca</a>
                                                    </span>
                                                    <span class="sc-box-value">{{
                                    data.Value
                                  }}</span>
                                                </p>
                                                <span class="sc-box-value-saying">{{
                                  data.Saying
                                }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div</div>
            </div>
            <p class="pages-content">&nbsp;</p>
        {% endblock %}