{% extends 'template/layout_id_home.twig' %}
{% block content %}
    <header class="slider-wrapper" style="margin-top:20px;">
        <div class="slider carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item items item-1 active" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-1.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 15px;">MENCIPTAKAN NILAI DI ASIA</h1>
                        <h7>Melayani dari Kantor Kami yang Berlokasi Strategis di Asia</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="{{ base_url() }}/ID/tentangkami" style="margin-top:60px">Lebih lanjut</a>
                    </div>
                </div>
                <div class="carousel-item items item-2" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-2.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 15px;">MEMBERIKAN BIMBINGAN DAN PENGARAHAN</h1>
                        <h7>Dalam Situasi Sulit dan Kompleks yang Menentukan Masa Depan Perusahaan</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="{{ base_url() }}/ID/transaksi" style="margin-top:60px">Lebih lanjut</a>
                    </div>
                </div>
                <div class="carousel-item items item-3" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-3.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 15px;">MENDUKUNG KLIEN KAMI BERKEMBANG</h1>
                        <h7>Membantu Klien Kami Mewujudkan Visinya melalui Pelaksanaan Aksi Korporasi dan Transaksi yang Berhasil</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="{{ base_url() }}/ID/layanan" style="margin-top:60px">Lebih lanjut</a>
                    </div>
                </div>
                <div class="carousel-item items item-4" style="background-image: url('{{ base_url() }}/assets/img/hero/silde-4.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 15px;">MEMBAWA INTELEKTUAL YANG BERINTEGRITAS DAN KUAT</h1>
                        <h7>Untuk Mendukung Riset dan Keterampilan Teknis dengan Jaringan Bisnis yang Mendalam</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="{{ base_url() }}/ID/kepemimpinan-kami" style="margin-top:60px">Lebih lanjut</a>
                    </div>
                </div>
                <div class="carousel-item items item-5" style="background-image: url('{{ base_url() }}/assets/img/hero/slide-5.jpg');">
                    <div class="hero-overlay"></div>
                    <div class="hero-content">
                        <h1 style="font-size: 36px;letter-spacing: 3px;margin-bottom: 15px;">INVESTASI DALAM SUMBER DAYA MANUSIA</h1>
                        <h7>Memberikan Tantangan dan Memberdayakan Sumber Daya Manusia Kami didalam Melayani Klien</h7>
                        <img class="img-center" src="https://ajcapital.asia/assets/img/pages/ajcapital_white.png" style="width:40px;">
                        <a class="btn btn-outline-while btn-sm" href="{{ base_url() }}/ID/karir" style="margin-top:60px">Lebih lanjut</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid d-sm-block d-md-none">
        <br/>
        <h4 class="text-center whatwedo">YANG KAMI LAKUKAN</h4>
        <br/>
        <div class="row">
            <div class="col-xs-6 w-50 h-50">
                <div class="card">
                    <img src="{{base_url()}}/assets/img/pages/card-debrestruktur.jpg" class="card-img" alt="...">
                    <div class="overlay-div"></div>
                    <div class="card-img-overlay">
                        <div class="card-body">
                            <h5 class="card-title">Debitor</h5>
                            <p class="card-text">Restrukturisasi dan
                                <i>Turnaround Management</i>
                            </p>
                            <p class="pages-content-push">&nbsp;</p>
                            <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/ID/layanan/restrukturisasi-dan-turnaround-management">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 w-50 h-50">
                <div class="card">
                    <img src="{{base_url()}}/assets/img/pages/csa-card.jpg" class="card-img" alt="...">
                    <div class="overlay-div"></div>
                    <div class="card-img-overlay">
                        <div class="card-body">
                            <h5 class="card-title">Kreditor</h5>
                            <p class="card-text">Pendukung dan Penasihat Kreditor
                            </p>
                            <p class="pages-content-push">&nbsp;</p>

                            <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/ID/layanan/pendukung-dan-penasihat-kreditor">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-xs-6 w-50 h-50">
            <div class="card">
                <img src="{{base_url()}}/assets/img/pages/card-ma.jpg" class="card-img" alt="...">
                <div class="overlay-div"></div>
                <div class="card-img-overlay">

                    <div class="card-body">
                        <h5 class="card-title">Transaksi</h5>
                        <p class="card-text">Penasihat M&A dan Penggalangan Dana</i>
                    </p>
                    <p class="pages-content-push">&nbsp;</p>

                    <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/ID/layanan/penasihat-ma-dan-penggalangan-dana">Selengkapnya</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 w-50 h-50">
        <div class="card">
            <img src="{{base_url()}}/assets/img/pages/card-cims.jpg" class="card-img" alt="...">
            <div class="overlay-div"></div>
            <div class="card-img-overlay">
                <div class="card-body">
                    <h5 class="card-title">Perusahaan</h5>
                    <p class="card-text">Manajemen Inisiatif dan Pendukung Perusahaan
                    </p>
                    <p class="pages-content-push">&nbsp;</p>
                    <a class="btn btn-outline-light btn-light btn-sm btn-tab" href="{{ base_url() }}/ID/layanan/manajemen-inisiatif-dan-pendukung-perusahaan">Selengkapnya</a>

                </div>
            </div>
        </div>
    </div>
</div></div><p>&nbsp;</p><div class="container-fluid ">
<section class="d-none d-md-block" id="services">
    <h2 class="text-center whatwedo">YANG KAMI LAKUKAN</h2>
    <br/>
    <div class="card-deck ">
        <div class="card">
            <img src="{{base_url()}}/assets/img/pages/card-debrestruktur.jpg" class="card-img" alt="...">
            <div class="overlay-div"></div>
            <div class="card-img-overlay">
                <div class="card-block">
                    <h4 class="card-title services-head-sm">Debitor</h4>
                    <p class="card-text text-sm">
                        Restrukturisasi dan
                        <i>Turnaround Management</i>
                    </p>
                    <p class="card-text services-end">
                        <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/ID/layanan/restrukturisasi-dan-turnaround-management">Selengkapnya</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{base_url()}}/assets/img/pages/csa-card.jpg" class="card-img" alt="...">
            <div class="overlay-div"></div>
            <div class="card-img-overlay">
                <div class="card-block">
                    <h4 class="card-title services-head-sm">Kreditor</h4>
                    <p class="card-text text-sm">
                        Pendukung dan Penasihat Kreditor
                    </p>
                    <p class="card-text services-end">
                        <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/ID/layanan/pendukung-dan-penasihat-kreditor">Selengkapnya</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card maafr">
            <img src="{{base_url()}}/assets/img/pages/card-ma.jpg" class="card-img" alt="...">
            <div class="overlay-div"></div>
            <div class="card-img-overlay">
                <div class="card-block">
                    <h4 class="card-title services-head-sm">Transaksi</h4>
                    <p class="card-text text-sm">
                        Penasihat M&A dan Penggalangan Dana
                    </p>
                    <p class="card-text services-end">
                        <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/ID/layanan/penasihat-ma-dan-penggalangan-dana">Selengkapnya</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card cims">
            <img src="{{base_url()}}/assets/img/pages/card-cims.jpg" class="card-img" alt="...">
            <div class="overlay-div"></div>
            <div class="card-img-overlay">
                <div class="card-block">
                    <h4 class="card-title services-head-sm">Perusahaan</h4>
                    <p class="card-text text-sm">
                        Manajemen Inisiatif dan Pendukung Perusahaan
                    </p>
                    <p class="card-text services-end">
                        <a class="btn btn-outline-light btn-light btn-sm" href="{{ base_url() }}/ID/layanan/manajemen-inisiatif-dan-pendukung-perusahaan">Selengkapnya</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<section id="tag-line">
    <div class="overlay-tag"></div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="text-white text-center pages-content" style="letter-spacing:4px;">
                AJCapital Advisory
            </h3>
            <p class="text-white text-center about-landing">
                Kami adalah Penasihat Perusahaan yang berfokus kepada situasi dan transaksi yang kompleks, baik domestik maupun lintas negara, yang membutuhkan cara unik dalam memecahkan masalah. Kami membawa keahlian dan pengalaman, jaringan dan koneksi yang mendalam, keterampilan negosiasi multikultural, dikemas dengan pola pemikiran strategis dan pengelolaan masalah yang jernih.
            </p>
            <img src="{{ base_url()}}/assets/img/pages/ajcapital_white.png" width="40px;" class="img-small-logo-center" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div></section>{% endblock %}