{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a aria-controls="nav-transactions" aria-selected="true" class="nav-item nav-link" data-toggle="tab" href="#nav-transactions" id="nav-transactions-tab" role="tab" style="color:  #06832a; border-bottom: 1px  #06832a solid">Transaksi</a>
                        <a aria-controls="nav-studi-kasus" aria-selected="false" class="nav-item nav-link active" data-toggle="tab" href="#nav-studi-kasus" id="nav-studi-kasus-tab" role="tab" style="color:  #06832a; border-bottom: 1px  #06832a solid">Studi Kasus</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div aria-labelledby="nav-transactions-tab" class="tab-pane fade" id="nav-transactions" role="tabpanel">
                        <div id="trans">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="service">Layanan</label>
                                        <select class="form-control" id="service" v-model="selectedService">
                                            <option value="All">Seluruhnya</option>
                                            <option value="Restrukturisasi Utang dan <i>Turnaround Management</i>">Restrukturisasi Utang dan
                                                                                                Turnaround Management
                                            </option>
                                            <option value="Pendukung dan Penasihat Kreditor">Pendukung dan Penasihat Kreditor</option>
                                            <option value="Investigasi Keuangan dan Dukungan Litigasi">Investigasi Keuangan dan Dukungan Litigasi</option>
                                            <option value="Likuidasi, Pemberesan dan Penunjukan Pengadilan">Likuidasi, Pemberesan dan Penunjukan Pengadilan</option>
                                            <option value="Penasihat M&A dan Penggalangan Dana">Penasihat M&A dan Penggalangan Dana</option>
                                            <option value="Manajemen Inisiatif dan Pendukung Perusahaan">Manajemen Inisiatif dan Pendukung Perusahaan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="country">Lokasi</label>
                                        <select class="form-control" id="country" v-model="selectedLoc">
                                            <option value="All">Seluruhnya</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Singapura">Singapura</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="transactions-list">
                                        <transactions v-bind:t="trans" v-for="trans in filteredTransactions"></transactions>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="nav-studi-kasus-tab" class="tab-pane fade show active" id="nav-studi-kasus" role="tabpanel">
                        <div class="row" id="nav-studi-kasus">
                            <div class="col-md-6">
                                <div class="box-casestudy">
                                    <p>
                                        <span style="font-size:12px;margin-top: 30px;float:left;">Studi Kasus</span>
                                        <span><img alt="" src="{{base_url()}}/assets/img/logo/logo-transparent.png" style="float: right;" width="80px" /></span>
                                    </p>
                                    {% for rowow in page.data %}
                                        {%if rowow.id == page.id %}
                                            <p style="margin-top:100px;">
                                                <h3 class="text-green" style="letter-spacing:2px;font-weight: bolder;">{{rowow.header | raw }}</h3>
                                                <span style="font-size: 12px;">{{rowow.DateofClosing}}</span><br/><br/>
                                            </p>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a href="{{ base_url()}}/ID/tentangkami/transaksi-dan-studi-kasus#nav-studi-kasus" style="float: left" class="btn btn-outline-green btn-sm">Tutup</a>
                                                    <h1 class="text-green text-right sc-detail-value" style="margin-top:0px;">{{rowow.Value}}</h1>
                                                    <span class="text-green" style="font-weight:bolder: 16px;float:right;margin-top: -10px;">{{rowow.Saying}}</span>
                                                </div>
                                            </div>
                                            <dl class="row" style="margin-top: 40px;">
                                                <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Jenis Kasus
                                                    <span class="float-right">:</span>
                                                </dt>
                                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.service | raw }}</dd>

                                                <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Judul
                                                    <span class="float-right">:</span>
                                                </dt>
                                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.Title | raw }}</dd>

                                                <dt class="col-sm-4" style="font-size: 12px;color: #06832a;">Status
                                                    <span class="float-right">:</span>
                                                </dt>
                                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{ rowow.DateofClosingMark}}</dd>

                                                <dt class="col-sm-4 text-truncate" style="font-size: 12px;color: #06832a;">Nilai
                                                    <span class="float-right">:</span>
                                                </dt>
                                                <dd class="col-sm-8" style="font-size: 12px;color: #06832a;">{{rowow.Value}}
                                                    {{rowow.Saying}}</dd>
                                            </dl>
                                            <p>
                                                <h5 class="text-green" style="letter-spacing: 3px;margin-top:40px;font-weight: bold">IKHTISAR PROYEK</h5>
                                                <ul class="list-sm">
                                                    {% for key,po in rowow.ProjectOverview %}
                                                        <li>
                                                            {{po.1 | raw }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <h5 class="text-green" style="letter-spacing: 3px;font-weight: bolder">ISU PROYEK</h5>
                                                <ul class="list-sm">
                                                    {% for key,ci in rowow.ProjectIssues %}
                                                        <li>
                                                            {{ci.2 | raw}}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <h5 class="text-green" style="letter-spacing: 3px;font-weight: bold;">APA YANG KAMI LAKUKAN</h5>
                                                <ul class="list-sm">
                                                    {% for key,wwd in rowow.WhatWeDid %}
                                                        <li>
                                                            {{wwd.3 | raw}}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <h5 class="text-green" style="letter-spacing: 3px;font-weight: bold">Hasil Proyek</h5>
                                                <ul class="list-sm">
                                                    {% for key,pout in rowow.ProjectOutcome %}
                                                        <li>
                                                            {{pout.4 | raw}}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <br/>
                                                <p class="text-center">
                                                    <a href="{{ base_url() }}/ID/tentangkami/transaksi-dan-studi-kasus#nav-studi-kasus" class="btn btn-outline-green btn-sm mx-auto ">Tutup</a>
                                                </p>
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    {% for data in page.data %}
                                        <div class="card" style="width: 25rem;margin: 12px;">
                                            <div class="card-body">
                                                <div class="title-case">
                                                    <span style="font-size:10px;float:left;margin-top:15px;">Studi Kasus</span>
                                                    <span><img alt="" src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png" style="float: right;margin-top: 0px;" width="70px" /></span>
                                                </div>
                                                <h5 class="card-title" style="margin-top:80px;margin-bottom: 0px;">
                                                    {{ data.header | raw }}
                                                </h5>
                                                <span style="font-size: 10px;">{{ data.DateofClosing }}</span><br/><br/>
                                                <p style="margin-top:20px;">
                                                    <span style="margin-top: 40px;">
                                                        <a href="{{ base_url() }}/ID/tentangkami/transaksi-dan-studi-kasus/{{ data.id }}#nav-studi-kasus" class="btn btn-outline-light btn-sm">Baca</a>
                                                    </span>
                                                    <span class="sc-box-value">{{
                                        data.Value
                                      }}</span>
                                                </p>
                                                <span class="sc-box-value-saying">{{
                                      data.Saying
                                    }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>{% endblock %}